.glass{
    --glass-blur: 5px;
    --glass-bg: hsla(240, 65%, 43%, 0.19);
    --glass-border: 1px solid hsla(240, 65%, 43%, 0.3);
    --glass-shadow: 0px 4px 30px hsla(0, 0%, 0%, 0.1);

    border: var(--glass-border);
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
}