::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background: hsl(0, 0%, 90%);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: hsl(0, 0%, 80%);
    border: 2px solid hsl(0, 0%, 90%);
}

li {
    gap: 1rem;
    flex: 1;
    width: 100%;
    cursor: pointer;
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: .5rem;
    padding: .5em .5em;
    margin-bottom: 5px;
    justify-content: start;
    color: hsl(0, 0%, 28%);
}

li:hover {
    color: hsl(220, 100%, 50%);
    background: hsl(220, 100%, 50%, .05);
}

li:hover svg {
    stroke: hsl(220, 100%, 50%);
}

.view {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    gap: 1rem;
    width: 100%;
    display: flex;
    max-width: 300px;
    flex-direction: column;
}

.picker {
    gap: 1rem;
    display: flex;
    cursor: pointer;
    padding: .75em;
    align-items: center;
    border-radius: .5rem;
    border: 1px solid hsl(0, 0%, 80%, .5);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, .15);
}

.chevron {
    width: 20px;
    height: 20px;
    stroke: hsl(0, 0%, 50%);
}

.select {
    opacity: 0;
    height: 250px;
    padding: .75em;
    overflow-y: auto;
    transform: scale(0);
    border-radius: .5rem;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    backdrop-filter: blur(5px);
    transform-origin: top left;
    transition: all 500ms ease-in-out;
    -webkit-backdrop-filter: blur(5px);
    background: hsla(0, 0%, 95%, .05);
    border: 1px solid hsl(0, 0%, 80%, .5);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, .15);
    scrollbar-color: hsl(0, 0%, 80%) hsl(0, 0%, 95%);
}

.select.drop {
    opacity: 1;
    transform: scale(1);
}

.picker.drop{
    outline: 2px solid hsl(210, 100%, 50%, .25);
    box-shadow: 
        4px 4px 5px hsla(210, 100%, 50%, .25),
        -4px -4px 5px hsla(210, 100%, 50%, .25);
}

.picker.drop .chevron {
    transform: rotate(-180deg);
}

.selectText {
    width: 100%;
}