/*@import "@styles/base/fonts.css";
@import "@styles/base/base.css";*/
@import "@styles/base/tokens.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: var(--none);
    margin: var(--spacing-0);
    padding: var(--spacing-0);
    transition: var(--trans-1);
    font-family: var(--default-font);
    -webkit-tap-highlight-color: var(--clr-transparent)
}

html {
    scroll-behavior: smooth;
}


:root {
    --bg-header: hsl(0, 0%, 98%, .05);
    --bg-fab: hsl(260, 100%, 50%);
    --brand-clr: hsl(237, 100%, 67%);
    --base-clr: hsl(227, 100%, 76%, .15);
    --bg-surface: hsl(0, 0%, 100%);
    --txt-clr: hsl(228, 17%, 12%);
    --secondary-txt-clr: hsl(227, 14%, 27%);
    --base-transparent-90: hsla(0, 0%, 97%, 0.9);
    --base-transparent-100: hsl(0, 0%, 97%);
    --txt-on-accent: hsl(0, 0%, 100%);
    --accent: hsl(210, 100%, 50%);
    --txt-muted: hsl(0, 0%, 60%);
    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    --shadow-fab: 2px 2px 4px hsla(240, 100%, 80%, .75);
    --shadow-fab-hover: 3px 3px 5px hsla(270, 100%, 50%, .75);
    --clr-plain: hsl(0, 0%, 100%);
    --bg-danger: hsl(0, 80%, 50%);
    --clr-danger: var(--bg-danger);
    --backdrop: hsla(0, 0%, 8%, .8);
    --bg-btn-focus: hsl(237, 100%, 47%);
    --bg-badge: var(--brand-clr);
    --brdr-empty: 1px solid hsl(250, 50%, 90%);
    --brdr-header: 1px solid hsl(250, 50%, 90%);
    --outline-focus: 2px solid hsl(248, 53%, 58%);
    --empty-shadow: 1px 1px 1px hsl(250, 50%, 9%);
}

.dark-theme {
    --bg-header: hsl(0, 0%, 98%, .05);
    --brand-clr: hsl(237, 100%, 77%);
    --base-clr: hsl(233, 12%, 13%);
    --bg-surface: hsl(250, 52%, 6%);
    --txt-clr: hsl(0, 0%, 94%);
    --secondary-txt-clr: hsl(229, 11%, 72%);
    --base-transparent-90: hsla(233, 12%, 13%, 0.9);
    --base-transparent-100: hsl(233, 12%, 13%, .1);
    --border-color: hsl(250, 0%, 14%);
    --bg-badge: hsl(255, 100%, 50%);
    --shadow:
        4px 0px 2px hsla(224, 71%, 4%, 0.06),
        -16px 2px 7px hsla(224, 71%, 4%, 0.05),
        -35px 4px 16px hsla(224, 71%, 4%, 0.04),
        -62px 7px 28px hsla(224, 71%, 4%, 0.02),
        -97px 11px 44px hsla(224, 71%, 4%, 0.01);
    --bg-danger: hsl(0, 90%, 50%);
    --clr-danger: var(--bg-danger);
    --brdr-empty: none;
    --empty-shadow: none;
    --brdr-header: 1px solid hsl(0, 0%, 19%);
}

/* Base styles */

body {
    /*color: var(--txt-clr);*/
    color: var(--txt-dark);
    background: var(--bg-plain);
}

h1,
h2,
p,
label {
    /*color: var(--txt-clr);*/
    color: var(--txt-dark);
}

h1 {
    font-size: 24px;
    font-weight: var(--weight-medium);
}

h3 {
    text-transform: capitalize;
}

label:not(.check) {
    gap: var(--spacing-3);
    display: var(--flex-display);
    flex-direction: var(--flex-column);
}

/*button {
    cursor: pointer;
    color: inherit;
    font-size: var(--font-size);
    font-weight: var(--weight-thick);
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius-xxsm);
    border: var(--brdr-transparent);
}*/

header {
    top: 0;
    z-index: 1;
    height: 80px;
    position: sticky;
    gap: var(--spacing-4);
    display: var(--flex-display);
    /*flex-direction: var(--flex-column);*/
    align-items: center;
    justify-content: var(--flex-between);
    padding: var(--spacing-8);
    padding-block: var(--spacing-2);
    backdrop-filter: var(--blur-sm);
    /*border-bottom: var(--brdr-header);*/
    -webkit-backdrop-filter: var(--blur-xsm);
    /*grid-template-columns: 1fr auto 1fr;*/
}

/*header h1 {
    justify-self: start;
}*/

search-input.note-search::part(container) {
    width: 500px;
}

main {
    gap: var(--spacing-6);
    padding: var(--spacing-10);
    margin-top: var(--spacing-5);
    display: var(--grid-display);
    grid-template-rows: repeat(250px, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

dialog {
    width: 500px;
    margin: var(--auto);
    border: var(--brdr-none);
    box-shadow: var(--shadow);
    padding: var(--spacing-8);
    background: var(--bg-surface);
    border-radius: var(--radius-sm);
}

form {
    display: flex;
    gap: var(--spacing-4);
    flex-direction: column;
}

textarea {
    height: 100px;
    resize: var(--none);
    border: var(--none);
    color: var(--txt-dark);
    padding: var(--spacing-4);
    background: var(--base-clr);
    width: var(--dimension-100);
    caret-color: var(--brand-clr);
    border-radius: var(--radius-xxsm);
}

textarea:focus,
input:not([type="checkbox"]):focus {
    outline-offset: 2px;
    outline: var(--outline-focus);
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
}

menu {
    gap: var(--spacing-4);
    display: var(--flex-display);
    align-items: var(--flex-center);
}

::view-transition-old(root) {
    animation-delay: var(--duration-normal);
}

::view-transition-new(root) {
    animation: wrap var(--duration-normal) var(--ease);
}

/* Dialog Animation Classes */

dialog.open {
    animation: slideIn var(--duration-normal) var(--ease-out) forwards;
}

dialog.closing {
    animation: slideOut var(--duration-normal) var(--ease);
}

svg {
    vertical-align: middle;
    transform: translate(0);
    display: var(--inline-display);
}

/* Backdrop Pseudo Element */

::backdrop {
    background: var(--backdrop);
    backdrop-filter: var(--blur-xsm);
    -webkit-backdrop-filter: var(--blur-xsm);
}

.icon svg {
    width: 1.25em;
    height: 1.25em;
}

.header-menu {
    gap: .5em;
    /*top: 10px;
    right: 40px;
    position: absolute;*/
}

.header-content {
    gap: var(--spacing-8);
    display: var(--flex-display);
    align-items: var(--flex-center);
    justify-content: var(--flex-center);
}

/* Buttons */

.header-menu .layoutBtn,
.header-menu .filterBtn,
.header-menu .sortBtn {
    opacity: var(--opacity-grayed);
}

.addNoteBtn {
    padding: var(--spacing-3);
    color: var(--txt-on-accent);
    backdrop-filter: var(--blur-xs);
    border-radius: var(--radius-xlg);
    -webkit-backdrop-filter: var(--blur-sm);
    background: hsl(from var(--bg-fab) 240 100% 55% / .75);
    border: 1px solid hsl(240, 100%, 50%, .25);
    box-shadow: 2px 2px 2px hsl(227, 100%, 57%, .5),
        2px 2px 2px hsl(237, 100%, 67%, .5),
        2px 2px 2px hsl(247, 100%, 87%, .5),
        2px 2px 2px hsl(257, 100%, 67%, .5),
        2px 2px 2px hsl(250, 100%, 50%, .75);
    /*box-shadow: var(--shadow-fab);
    background: hsl(260, 100%, 50%, .45);*/
}

.addNoteBtn:hover {
    scale: var(--scake-up-sm);
    background: var(--bg-fab);
    box-shadow: 2px 2px 2px hsl(240, 100%, 57%, .5),
        2px 2px 2px hsl(245, 100%, 67%, .55),
        2px 2px 2px hsl(250, 100%, 57%, .65),
        2px 2px 2px hsl(245, 100%, 67%, .75),
        2px 2px 2px hsl(240, 100%, 50%, .75);
}

.addNoteBtn:hover svg {
    fill: var(--clr-icon);
}

.header-menu .themeBtn {
    opacity: var(--opacity-base);
}

.themeBtn,
.filterBtn {
    padding: .5em;
    background: var(--none);
}

.themeBtn .icon svg {
    stroke: var(--brand-clr);
}

.closeBtn {
    font-size: 1.25rem;
    color: var(--txt-dark);
    background: var(--none);
    padding: var(--spacing-0);
}

.saveBtn {
    color: var(--clr-plain);
    background: var(--brand-clr);
}

.deleteBtn {
    color: var(--clr-danger);
}

/* Add note button animation class */

.focus {
    animation: hover var(--duration-slow) linear var(--duration-none) infinite forwards;
}

/* Dynamic classes */

.grid {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.list {
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
}

.deleted {
    opacity: var(--opacity-none);
    transform: scale(var(--scale-0));
}

.empty {
    display: var(--flex-display);
    align-items: var(--flex-center);
    justify-content: var(--flex-center);
}

/* Some stuff */

.form-label {
    font-size: 1.25rem;
    font-weight: var(--weight-thick);
}

/* Dialog Styling */

.dialog-header {
    display: var(--flex-display);
    align-items: var(--flex-center);
    justify-content: var(--flex-between);
}

.dialog-content {
    gap: var(--spacing-8);
    display: var(--flex-display);
    flex-direction: var(--flex-column);
}

.dialog-actions {
    gap: var(--spacing-4);
    display: var(--flex-display);
    justify-content: var(--flex-end);
}

/* Placeholder State */

.empty-state,
.no-results {
    border: var(--none);
    margin: 100px var(--auto);
    align-items: var(--start);
    display: var(--flex-display);
    padding: var(--spacing-8);
    border-radius: var(--radius-sm);
    flex-direction: var(--flex-column);
    /*border: var(--brdr-empty);
    box-shadow: var(--empty-shadow);*/
}

.empty-header,
.results-header {
    font-size: 1.5rem;
    opacity: var(--opacity-reduced);
}

.empty-text,
.results-msg {
    opacity: var(--opacity-grayed);
    margin-bottom: var(--spacing-3);
}

.empty-img,
.results-img {
    width: 200px;
    height: 200px;
    /*margin-bottom: 10px;*/
    margin-bottom: var(--spacing-3);
}

/* Note badge */

.quick-note {
    color: var(--clr-plain);
    background: var(--bg-badge);
    max-width: var(--dimension-fit);
    margin-bottom: var(--spacing-2);
    border-radius: var(--radius-xlg);
    font-weight: var(--weight-medium);
    padding: var(--spacing-1) var(--spacing-2);
}

/* Note Card */

.note-card {
    gap: var(--spacing-2);
    position: var(--relative);
    box-shadow: var(--shadow);
    padding: var(--spacing-8);
    display: var(--flex-display);
    backdrop-filter: var(--blur-sm);
    border-radius: var(--radius-sm);
    padding-bottom: var(--spacing-5);
    overflow: var(--hidden-overflow);
    flex-direction: var(--flex-column);
    background: hsl(0, 0%, 100%, .05);
    -webkit-backdrop-filter: var(--blur-sm);
    transform-origin: var(--origin-bottom-left);
    border: var(--brdr-width-thin) var(--brdr-style-1) var(--border-color);
    border: var(--brdr-width-thin) var(--brdr-style-1) hsl(0, 0%, 100%, .25);
    transition: opacity var(--duration-normal) var(--ease), transform var(--duration-normal) var(--ease);
}

.checkbox:checked+.custom-check {
    background: hsl(250, 100%, 50%);
    border-color: hsl(250, 100%, 50%, .5);
}

.custom-check::after {
    opacity: 0;
    content: "\2713";
    font-size: .8rem;
    color: hsl(0, 0%, 100%);
}

.checkbox:checked+.custom-check::after {
    opacity: 1;
}

.custom-check {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: .5rem;
    opacity: 0;
    transform: translateX(-40px);
    margin-bottom: var(--spacing-2);
    border: 1px solid hsl(250, 100%, 50%);
}

.note-date {
    position: var(--absolute);
    top: 36px;
    right: 40px;
    color: var(--txt-muted);
}

.note-actions {
    flex: 1;
    gap: var(--spacing-2);
    padding: var(--spacing-2);
    margin-top: var(--spacing-5);
    width: var(--dimension-100);
    border-top: var(--brdr-width-thin) var(--brdr-style-1) hsl(0, 0%, 83%);
}

.note-actions svg {
    width: var(--base-dimension);
    height: var(--base-dimension);
}

.note-actions button,
.header-menu button {
    background: var(--none);
    padding: var(--spacing-1);
    opacity: var(--opacity-reduced);
}

.note-content {
    height: var(--dimension-100);
    margin-bottom: var(--spacing-5);
}

.view {
    display: var(--flex-display);
    position: var(--fixed);
    bottom: 45px;
    right: 45px;
    align-items: var(--flex-center);
    justify-content: var(--flex-center);
    flex-direction: var(--flex-column);
}

.tooltip {
    position: var(--relative);
    top: -10px;
    pointer-events: var(--none);
    background: var(--bg-plain);
    opacity: var(--opacity-none);
    border-radius: var(--radius-sm);
    transform: scale(var(--scale-0));
    transform-origin: var(--origin-bottom);
    padding: var(--spacing-2) var(--spacing-4);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, .15);
    transition: all var(--duration-normal) cubic-bezier(.68, -.55, .265, 1.55);
}

.tooltip::before {
    position: var(--absolute);
    content: "";
    left: 50%;
    width: 15px;
    height: 15px;
    bottom: -8px;
    background: var(--bg-plain);
    transform: translateX(-50%) rotate(45deg);
}

.view:hover .tooltip {
    pointer-events: var(--auto);
    opacity: var(--opacity-base);
    transform: scale(var(--scale-base)) translateY(-20px);
}

.selection-toolbar {
    gap: 2em;
    width: 550px;
    padding: 1.25em;
    display: flex;
    align-items: center;
    border-radius: .65rem;
    position: absolute;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: hsl(0, 0%, 95%, .01);
    border: 2px solid hsl(0, 0%, 95%);
    box-shadow:
        8px 8px 5px hsl(250, 100%, 86%, .5),
        8px 8px 5px hsl(250, 100%, 86%, .5),
        8px 8px 5px hsl(250, 100%, 86%, .5),
        8px 8px 5px hsl(250, 100%, 86%, .5);
}

.toolbar-view {
    position: fixed;
    display: flex;
    bottom: 80px;
    left: 0px;
    right: 0px;
    opacity: 0;
    transform: scale(0);
    align-items: center;
    justify-content: center;
    transform-origin: bottom;
}

.visible {
    transform: scale(1);
    opacity: 1;
}

.filter-row,
.sort-row {
    opacity: 1;
    transform: translateY(0px);
}

.reveal {
    opacity: 1;
    transform: translateY(0px);
}

.filter-chip,
.sort-chip {
    background: none;
    border-radius: 5rem;
    box-shadow:
        2px 2px 3px hsl(0, 0%, 90%),
        -2px -2px 3px hsl(0, 0%, 90%),
        2px 2px 3px hsl(0, 0%, 90%);
}

.row {
    gap: 1rem;
    z-index: 1;
    display: flex;
    position: absolute;
    top: 50px;
    /*top: 100px;*/
    left: 500px;
    margin-top: 30px;
    flex-direction: column;
}

.use {
    color: hsl(0, 0%, 100%);
    background: hsl(230, 100%, 67%);
}

.toolbar-menu {
    gap: 1.5rem;
}

.select-btn,
.icon {
    padding: 0;
    background: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.delete {
    color: hsl(0, 100%, 50%);
}

.hidden {
    opacity: 0;
    transition: all 500ms ease;
    transform: scale(0) translateY(20px);
}

.delete svg {
    stroke: hsl(0, 100%, 50%);
}

.selected-count {
    font-size: 10px;
    font-weight: 600;
    padding: .5em 1em;
    border-radius: 5em;
    background: hsl(0, 0%, 97%);
}

.select-all {
    cursor: pointer;
    border-bottom: 1px dotted;
    /*color: hsl(237, 100%, 47%);*/
}

.select-all:hover {
    border-bottom: 1px solid;
}

.toolbar-close {
    margin-top: 5px;
    background: none;
    border-radius: 5rem;
    position: absolute;
    right: -80px;
    padding: 1em 1em;
    box-shadow:
        -2px -2px 5px hsl(250, 100%, 86%, .5),
        -2px -2px 5px hsl(100, 100%, 86%, .5),
        2px 2px 5px hsl(250, 100%, 86%, .5),
        2px 2px 5px hsl(250, 100%, 86%, .5);
    /*border: 1px solid hsl(0, 0%, 90%);*/
}

.toolbar-close svg {
    opacity: .5;
}

.checked {
    opacity: 1;
    transform: translateX(0);
}

/* Animations */

@keyframes slideIn {
    from {
        transform: translateY(-100%) scale(var(--scale-0));
        opacity: var(--opacity-none);
    }

    to {
        transform: translateY(2.5rem) scale(var(--scale-base));
        opacity: var(--opacity-base);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(2.5rem) scale(var(--scale-base));
        opacity: var(--opacity-base);
    }

    to {
        transform: translateY(-100%) scale(var(--scale-0));
        opacity: var(--opacity-none);
    }
}

@keyframes hover {
    0% {
        transform: scale(var(--scake-down-3xsm));
        box-shadow: var(--shadow-fab);
    }

    50% {
        transform: scale(var(--scake-up-xsm));
        box-shadow: var(--shadow-fab-hover);
    }

    100% {
        transform: scale(var(--scake-down-3xsm));
        box-shadow: var(--shadow-fab);
    }
}

@keyframes moveIn {
    from {
        translate: 100% 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes moveOut {
    from {
        translate: 0 0;
    }

    to {
        translate: -100% 0;
    }
}

@keyframes wrap {
    from {
        clip-path: circle(0% at 50% 0%);
    }

    to {
        clip-path: circle(50% at 95% 20%);
    }
}

@media(max-width: 1120px) {
    header {
        height: 100px;
        gap: var(--spacing-6);
        border-bottom: var(--none);
        padding-block: var(--spacing-2);
        flex-direction: var(--flex-column);
    }

    main {
        margin-top: var(--spacing-2);
    }

    h1 {
        flex: 1;
        text-wrap: nowrap;
        width: var(--dimension-100);
    }

    .view {
        right: 8px;
    }

    .row {
        text-wrap: nowrap;
        margin-top: 40px;
    }

    search-input.note-search::part(container) {
        width: 600px;
    }

    .sort-row {
        flex-wrap: wrap;
    }
}

@media(max-width: 956px) {
    .row {
        left: 100px;
    }
}

@media(max-width: 716px) {
    .header-menu {
        position: var(--absolute);
        top: 0;
        right: 0;
        margin: var(--spacing-1);
    }

    .header-menu {
        top: 8px;
        right: 40px;
    }

    .row {
        left: 40px;
        text-wrap: nowrap;
        margin-top: 40px;
    }

    search-input.note-search::part(container) {
        width: 650px;
    }
}