*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .3s ease;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-fab: hsl(260, 100%, 50%);
    --brand-clr: hsl(237, 100%, 67%);
    --base-clr: hsl(227, 100%, 76%, .15);
    --bg-surface: hsl(0, 0%, 100%);
    --txt-clr: hsl(228, 17%, 12%);
    --secondary-txt-clr: hsl(227, 14%, 27%);
    --base-transparent-90: hsla(0, 0%, 97%, 0.9);
    --base-transparent-100: hsl(0, 0%, 97%);
    --txt-on-accent: hsl(0, 0%, 100%);
    --accent: hsl(210, 100%, 50%);
    --txt-muted: hsl(0, 0%, 60%);
    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    --shadow-fab: 2px 2px 4px hsla(240, 100%, 80%, .75);
    --shadow-fab-hover: 3px 3px 5px hsla(270, 100%, 50%, .75);
    --clr-plain: hsl(0, 0%, 100%);
    --bg-danger: hsl(0, 80%, 50%);
    --clr-danger: var(--bg-danger);
    --backdrop: hsla(0, 0%, 8%, .8);
    --bg-btn-focus: hsl(237, 100%, 47%);
    --bg-badge: var(--brand-clr);
    --brdr-empty: 1px solid hsl(250, 50%, 90%);
    --outline-focus: 2px solid hsl(248, 53%, 58%);
    --empty-shadow: 1px 1px 1px hsl(250, 50%, 9%);
}

.dark-theme {
    --brand-clr: hsl(237, 100%, 77%);
    --base-clr: hsl(233, 12%, 13%);
    --bg-surface: hsl(250, 52%, 6%);
    --txt-clr: hsl(0, 0%, 94%);
    --secondary-txt-clr: hsl(229, 11%, 72%);
    --base-transparent-90: hsla(233, 12%, 13%, 0.9);
    --base-transparent-100: hsl(233, 12%, 13%, .1);
    --border-color: hsl(250, 0%, 14%);
    --bg-badge: hsl(255, 100%, 50%);
    --shadow:
        4px 0px 2px hsla(224, 71%, 4%, 0.06),
        -16px 2px 7px hsla(224, 71%, 4%, 0.05),
        -35px 4px 16px hsla(224, 71%, 4%, 0.04),
        -62px 7px 28px hsla(224, 71%, 4%, 0.02),
        -97px 11px 44px hsla(224, 71%, 4%, 0.01);
    --bg-danger: hsl(0, 90%, 50%);
    --clr-danger: var(--bg-danger);
    /*--brdr-empty: 4px solid hsl(250, 50%, 9%);
    --empty-shadow: 2px 2px 4px hsl(250, 50%, 9%);*/
    --brdr-empty: none;
    --empty-shadow: none;
}

/* Base styles */

body {
    position: relative;
    color: var(--txt-clr);
    background: var(--bg-surface);
}

h1,
h2,
p,
label {
    color: var(--txt-clr)
}

label {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

button {
    cursor: pointer;
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
    padding: .5em 1em;
    border-radius: .25rem;
    border: 1px solid transparent;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

main {
    gap: 1.5rem;
    display: grid;
    padding: 2.5em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

dialog {
    width: 500px;
    padding: 2em;
    border: none;
    margin: auto;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    background: var(--bg-surface);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    width: 100%;
    height: 40px;
    padding: 1em;
    border-radius: .25rem;
    color: var(--txt-clr);
    border: 1px solid transparent;
    background: var(--base-clr);
    caret-color: var(--brand-clr);
}

textarea {
    resize: none;
    border: none;
    width: 100%;
    height: 100px;
    padding: 1em;
    border-radius: .25rem;
    color: var(--txt-clr);
    background: var(--base-clr);
    caret-color: var(--brand-clr);
}

textarea:focus,
input:focus {
    outline-offset: 2px;
    outline: var(--outline-focus);
}

menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

::view-transition-old(root) {
    animation-delay: .5s;
}

::view-transition-new(root) {
    animation: wrap .5s ease;
}

/* Dialog Animation Classes */

dialog.open {
    animation: slideIn .5s ease-out forwards;
}

dialog.closing {
    animation: slideOut .5s ease
}

svg {
    display: inline;
    vertical-align: middle;
    transform: translate(0);
}

/* Backdrop Pseudo Element */

::backdrop {
    background: var(--backdrop);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.icon svg {
    width: 1.25em;
    height: 1.25em;
}

.header-menu {
    gap: .05em;
}

/* Buttons */

.layoutBtn {
    padding: 0;
    opacity: .75;
    background: none;
}

.addNoteBtn {
    z-index: 1;
    border-radius: 5em;
    position: fixed;
    bottom: 45px;
    right: 45px;
    padding: .75em;
    color: var(--txt-on-accent);
    background: var(--bg-fab);
    box-shadow: var(--shadow-fab);
}

.addNoteBtn:hover {
    scale: 1.15;
    box-shadow: var(--shadow-fab-hover);
}

.addNoteBtn:hover svg {
    fill: currentColor;
}

.themeBtn {
    background: var(--bg-surface);
}

.themeBtn .icon svg {
    stroke: var(--brand-clr);
}

.closeBtn {
    padding: 0;
    font-size: 1.25rem;
    background: none;
    color: var(--txt-clr);
}

.saveBtn {
    background: var(--brand-clr);
    color: var(--clr-plain);
}

.deleteBtn {
    color: var(--clr-danger);
}

/* Add note button animation class */

.focus {
    animation: hover 1s linear 0s infinite forwards;
}

/* Dynamic classes */

.grid {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.list {
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
}

.deleted {
    opacity: 0;
    transform: scale(0);
}

.empty{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Some stuff */

.date {
    position: absolute;
    top: 36px;
    right: 40px;
    color: var(--txt-muted);
}

.form-label {
    font-weight: 600;
    font-size: 1.25rem;
}

/* Dialog Styling */

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/* Placeholder State */

.empty-state {
    display: flex;
    padding: 2em;
    border: none;
    margin: 100px auto;
    align-items: start;
    border-radius: .5rem;
    flex-direction: column;
    /*border: var(--brdr-empty);
    box-shadow: var(--empty-shadow);*/
}

.empty-header {
    font-size: 1.5rem;
    opacity: .75;
}

.empty-text {
    opacity: .5;
    margin-bottom: .75rem;
}

.empty-img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

/* Note badge */

.quick-note {
    font-weight: 500;
    padding: .25em .5em;
    border-radius: 5rem;
    margin-bottom: .5rem;
    color: var(--clr-plain);
    max-width: fit-content;
    background: var(--bg-badge);
}

/* Note Card */

.note-card {
    padding: 2em;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    background: var(--bg-surface);
    transform-origin: bottom left;
    border: 1px solid var(--border-color);
    transition: opacity .5s ease,
        transform .5s ease;
}

.note-actions {
    padding: .5em;
    gap: .25rem;
    width: fit-content;
}

.note-actions svg {
    width: 16px;
    height: 16px;
}

.note-actions button {
    background: none;
    opacity: .75;
    padding: .25em;
}

.note-content {
    height: 100%;
}

/* Animations */

@keyframes slideIn {
    from {
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }

    to {
        transform: translateY(2.5rem) scale(1);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(2.5rem) scale(1);
        opacity: 1;
    }

    to {
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }
}

@keyframes hover {
    0% {
        transform: scale(.9);
        box-shadow: var(--shadow-fab);
    }

    50% {
        transform: scale(1.05);
        box-shadow: var(--shadow-fab-hover);
    }

    100% {
        transform: scale(.9);
        box-shadow: var(--shadow-fab);
    }
}

@keyframes moveIn {
    from {
        translate: 100% 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes moveOut {
    from {
        translate: 0 0;
    }

    to {
        translate: -100% 0;
    }
}

@keyframes wrap {
    from {
        clip-path: circle(0% at 50% 0%);
    }

    to {
        clip-path: circle(50% at 95% 20%);
    }
}