<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="searchPage.css">
</head>

<body>
    <!--<div class="parent" id="parent">
        <div class="child" contenteditable>Child 1</div>
        <div class="child" contenteditable>Child 2</div>
        <div class="child" contenteditable>Child 3</div>
    </div>-->
    <!--<div class="progress" id="progress">
        <span class="progress-value" id="progress-value">
            &uparrow;
        </span>
    </div>
    <h1>Back To Top Button</h1>
    <h3>With Scroll Progress</h3>\
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, eaque enim ipsa numquam magni minus quam, ad
        rem aliquid cumque voluptates earum placeat! Voluptatum, placeat nesciunt ducimus facere magni in culpa numquam
        ullam quidem aliquid mollitia! Earum aspernatur hic quia assumenda quod repellendus vel eius, quam provident
        commodi? Et ex, non cumque sint officiis itaque vel nesciunt repudiandae tempore, esse in, nulla sed? A aperiam
        doloremque molestias. Inventore cumque quos labore recusandae molestiae alias reiciendis autem iste veniam. A
        aspernatur accusamus in maiores vero quae at natus deserunt, laborum tempore recusandae reprehenderit nam error.
        Laboriosam aspernatur reiciendis laborum deserunt eligendi?</p>
    <p>Praesentium omnis doloremque soluta officiis laudantium, optio suscipit deserunt provident dolorem molestiae
        repellendus iusto, nostrum cumque nisi dolorum dignissimos id commodi odio, voluptas accusantium. Ea, placeat!
        Eos dolore beatae vel dolorum repudiandae neque consequatur sunt ullam quasi, corrupti aspernatur velit
        explicabo alias, ratione voluptates praesentium veritatis totam laboriosam ab, ipsam nemo distinctio sit nisi.
        Suscipit aperiam optio consequuntur omnis doloribus, voluptatum vero excepturi? Consequatur expedita placeat
        voluptatum eveniet excepturi debitis, fugit voluptas pariatur saepe, officia, accusamus tempore accusantium
        explicabo quia repudiandae quibusdam quisquam autem illum ratione porro voluptate nostrum. Molestiae, facere
        consequuntur maiores architecto non autem aliquid voluptates culpa odit.</p>
    <p>Maxime quaerat, impedit consequuntur saepe vitae assumenda quidem provident dolorem, labore hic maiores dolores
        exercitationem. Quaerat nihil ipsum, ratione minus consequuntur aliquid odit doloremque maiores excepturi
        architecto voluptatum? Laboriosam et magni nesciunt inventore nam perferendis mollitia fuga est qui laborum ad
        dignissimos nemo optio, itaque quidem blanditiis ex? Maiores natus nobis molestiae neque atque dolores excepturi
        magnam asperiores aliquid, perferendis nulla ipsam aliquam harum soluta? Saepe ab iure nostrum veritatis odit
        reiciendis autem quis error quae porro voluptatum facilis eum consequatur, voluptas cum aspernatur fuga
        exercitationem aliquam molestias esse magni et? Labore saepe ab quasi unde sint? Vitae, ea maiores.</p>
    <p>Provident cum iste expedita! Consequatur, minus ex nisi totam nesciunt debitis sequi voluptate ea, quas ad quos
        in, recusandae vero accusantium aspernatur eaque ipsum sit fugit assumenda quidem doloremque! Possimus ratione
        commodi numquam cupiditate suscipit et, eius id, eaque officiis vitae aut ex recusandae animi modi officia
        delectus ad repudiandae cum, excepturi quidem similique aspernatur cumque reiciendis? Vero voluptate esse non
        est sunt obcaecati ad consequuntur nemo, corrupti, laborum asperiores. Mollitia autem omnis voluptates
        architecto tempore, deleniti quasi consectetur itaque saepe repellendus a excepturi impedit nihil quas
        recusandae obcaecati facilis ipsum rem ipsam? Numquam voluptatum quaerat vel quae quos eum?</p>
    <p>Accusantium amet, fuga voluptas nostrum omnis aut iste in illum quas commodi numquam, culpa rem aperiam
        exercitationem expedita id, excepturi nobis. Iure quisquam adipisci neque enim unde est minus, vel, doloribus
        distinctio quaerat possimus similique sed ad quos aliquam ipsam a numquam quis dolore vero aliquid repellendus
        debitis maiores natus. Aspernatur similique voluptates eveniet quo totam alias maiores in perferendis voluptate?
        Adipisci eos reprehenderit odit quos! Nulla dolorum eligendi quae, totam, veniam laborum doloremque beatae
        aperiam minima, assumenda doloribus sapiente quo voluptatem sequi. Repudiandae voluptatem beatae cupiditate modi
        perspiciatis, dolores mollitia error adipisci inventore, molestiae ipsa labore quas consequuntur! Quo.</p>
    <p>Sunt architecto, iusto doloremque culpa dolorum aperiam dolore earum ab. Provident alias fuga blanditiis itaque,
        perspiciatis saepe nesciunt quidem iste ad amet error molestias quam temporibus tempore, esse natus enim quia
        obcaecati nemo mollitia magnam omnis aperiam corrupti. Quidem, placeat doloribus! Doloribus commodi quam,
        suscipit veniam esse dolore sapiente officia tenetur modi natus quis non rerum laborum voluptatum inventore
        adipisci, autem perspiciatis. Alias et deleniti suscipit dicta repellendus tempore unde doloribus quis
        perferendis culpa inventore ad non atque laboriosam quasi, explicabo totam illo ullam ex officia, corrupti est.
        Iste alias sequi inventore magni nihil necessitatibus iusto suscipit libero nesciunt praesentium.</p>
    <button>
        &uparrow;
    </button>-->
</body>

<script src="searchPage.js" defer></script>

</html>