h1 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
}

.view {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tooltip.revealed {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(-20px);
}

.tooltip {
    position: relative;
    top: -10px;
    opacity: 0;
    width: fit-content;
    border-radius: 8px;
    transform: scale(0);
    padding: .5em 1em;
    text-align: left;
    pointer-events: none;
    transform-origin: bottom;
    max-width: max(100px, 300px);
    background: hsl(0, 0%, 100%);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, .15);
    transition: all 500ms cubic-bezier(.68, -.55, .265, 1.55);
}

.tooltip::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    bottom: -8px;
    left: 50%;
    background: hsl(0, 0%, 100%);
    transform: translateX(-50%) rotate(45deg);
}

.showBtn{
    border-radius: 5rem;
    background: hsl(250, 100%, 50%);
}

.showBtn:hover{
    background: hsl(250, 100%, 40%);
}