<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropzone component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="dropzone.css">
</head>
<body>
    <form class="form">
        <!--<span class="icon" data-icon="image"></span>
        <h4>Choose an image. Any <button class="uploadBtn">Image</button>.</h4>
        <p>PNG, JPEG, AVIF, WEBP, JPG</p>-->
        <input type="file"  id="filePicker" accept="image/*" multiple="true">
    </form>
</body>

<script src="dropzone.js" type="module" defer></script>
</html>