<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Sidebar Component</title>
</head>
<body>
    <app-sidebar></app-sidebar>
    <main id="app">
        <template id="dashboard-template">
            <h1>Dashboard</h1>
            <p>This is the dashboard page. The root of it all.</p>
        </template>
        <template id="orders-template">
            <h1>This is the orders page</h1>
            <p>Here, you can view the orders made by your customers.</p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
        <template id="settings-template">
            <h1>This is the settings page</h1>
            <p>Here, you can modify your preferences.</p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
        <template id="products-template">
            <h1>This is the products page</h1>
            <p>Here, you can see all your products for sale</p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
        <template id="store-template">
            <h1>This is your Online Store</h1>
            <p>This is your very own personal storefront where you have an overview of everything you're managing with our
                app, your sales, assets, products, inventory, clients, ratings, and so on. All of it is recorded here.
                If you wish, you can make this a shared storefront to work with others, a public storefront to sell to
                other people and launch on apps like Shopify, or a private storefront to manage your assets and trade with
                other users.
            </p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
        <template id="inventory-template">
            <h1>This is the inventory page</h1>
            <p>Here, you have an overview of all your products for sale, in stock, stored, out of stock, sold out, and
                upcoming.
                It's basically your personal product database in a page.</p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
        <template id="help-template">
            <h1>This is the Help & Support page</h1>
            <p>Here, you can contact us about any issues you're having with your dashboard, be it the online store,
                inventory,
                or accounts. We're here to help you.</p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
        <template id="analytics-template">
            <h1>This is the Analytics page</h1>
            <p>Here, you can get an overview of all your sales, products, ratings, and customers</p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
        <template id="accounts-template">
            <h1>This is the accounts page</h1>
            <p>Here you can find, edit, and delete your accounts.</p>
            <a href="sidebar.html" class="home-link">Home</a>
        </template>
    </main>
</body>

<script src="./sidebar.js" type="module" defer></script>
</html>