<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Sidebar Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="sidebar.css">
</head>
<body>
    <app-sidebar></app-sidebar>
    
    <main id="app">
        <template id="dashboard-template">
            <h1>Dashboard</h1>
            <p>This is the dashboard page. The root of it all.</p>
        </template>
    </main>
</body>

<script src="sidebar.js" type="module" defer></script>
</html>