<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Sidebar Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="sidebar.css">
</head>
<body>
    <app-sidebar></app-sidebar>
    <template class="sidebar-template">
        <nav class="sidebar">
            <li class="sidebar-logo">
                <span class="logo">DomzWeb</span>
                <button id="toggle-btn" class="toggle-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide panel">
                        <rect width="18" height="18" x="3" y="3" rx="2" />
                        <path d="M9 3v18" />
                    </svg>
                </button>
            </li>
            <div class="active-indicator"></div>
            <ul class="menu-dashboard"></ul>
            <ul class="menu-dropdown"></ul>
            <ul class="menu-actions"></ul>
            </nav>
    </template>

    <template class="link-template">
        <li class="link">
            <a href="">
                <span class="icon"></span>
                <span class="text"></span>
            </a>
        </li>
    </template>

    <main>
        <h1>Dashboard</h1>
        <p>This is the dashboard page. The root of it all.</p>
    </main>
</body>

<script src="sidebar.js" type="text/javascript" defer></script>
</html>