<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Input Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="searchInput.css">
</head>

<body>

    <template>
        <div class="search-bar">
                <span class="spinner"></span>
                <label>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide search">
                        <path d="m21 21-4.34-4.34" />
                        <circle cx="11" cy="11" r="8" />
                    </svg>
                    <input type="search" class="search-input" placeholder="Have a look at anything" id="searchInput">
                </label>
        </div>
    </template>

</body>

<script src="searchInput.js" defer></script>

</html>