<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Toast Notification">
    <meta name="description" content="A component for displaying feedback to the user about an action taken, 
    or event that has happened.">
    <title>Toast Component</title>
</head>

<body>
    <button>Show Toast</button>
    <toast-notif></toast-notif>
</body>

<script src="./toast.js" type="module" defer></script>
</html>