<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="toast.css">
</head>

<body>
    <button class="btn" data-alert="0">Message</button>
    <button class="btn" data-alert="1">Complete</button>
    <button class="btn" data-alert="2">Delete</button>

    <div class="notifications">
        
    </div>
</body>

<script src="toast.js" defer></script>
</html>