<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="toast.css">
</head>

<body>
    <button class="btn btn-1" data-status="message">Message</button>
    <button class="btn btn-2" data-status="success">Complete</button>
    <button class="btn btn-3" data-status="error">Delete</button>
    <button class="btn btn-4" data-status="warning">Storage</button>

    <div class="toasts">
        <template>
            <div class="toast">
                <span class="icon"></span>
                <div>
                    <strong class="status"></strong>
                    <p class="toast-msg"></p>
                </div>
                <button class="close-btn">

                </button>      
            </div>
        </template>
    </div>
    
</body>

<script src="toast.js" defer></script>
</html>