*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    transition: all .3s ease;
}

:root {
    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0,0%,80%);
}

h1{
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
}

table,th,td{
    padding: 1em;
    text-align: left;
    border-collapse: collapse;
}

table{
    width: 100%;
    box-shadow: var(--shadow);
}

th{
    position: sticky;
    top: 0;
    left: 0;
    background: hsla(258, 16%, 85%, 0.996);
}

input{
    width: 100%;
    padding: 0 .5em 0 .3em;
    border: none;
    border-radius: 5em;
    background: none;
    outline: none;
    height: 40px;
}

tr:nth-of-type(even){
    background: hsla(0, 0%, 0%, 0.043);
}

tr:hover{
    background: hsl(300, 100%, 98%);
}

.table{
    width: 82vw;
    height: 90vh;
    overflow: hidden;
    border-radius: .8em;
    backdrop-filter: blur(4px);
    background: hsla(0, 0%, 100%, 0.333);
}

.table-header{
    width: 100%;
    height: 10%;
    padding: .8em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsla(0, 0%, 100%, 0.267);
}

.input-group{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8em;
    border-radius: 2em;
    background: hsla(0, 0%, 100%, 0.333);
}

.input-group:hover,
.input-group:focus-within{
    width: 45%;
}

.hide{
    opacity: 0;
    transform: translateX(100%);
    transition: .5s ease-in-out .1s;
}

.table-body{
    width: 100%;
    max-height: calc(89% - 1.6em);
    margin: .8em auto;
    border-radius: .6em;
    overflow: auto;
    background: hsla(0, 0%, 100%, 0.733);
}

::-webkit-scrollbar{
    height: .5em;
    width: .5em;
}

.table-body::-webkit-scrollbar-thumb{
    border-radius: .5em;
    background: hsla(0, 0%, 0%, 0.267);
    visibility: hidden;
}

.image{
    height: 2.25em; 
    width: 2.25em;
    border-radius: 5em;
    margin-right: .5em;
    vertical-align: middle;
}

.status{
    padding: .4em;
    text-align: center;
    border-radius: .75em;
}

.delivered{
    background: hsl(135, 64%, 71%);
    color: hsl(139, 100%, 21%);
}

.cancelled{
    background: hsl(346, 47%, 71%);
    color: hsl(349, 100%, 35%);
}

.pending{
    background: hsl(40, 75%, 69%);
    color: hsl(47, 80%, 30%);
}

.shipped{
    background: hsl(196, 75%, 68%);
    color: hsl(196, 75%, 28%);
}

.customer{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5em;
}

@media (max-width: 1000px){
    td:not(:first-of-type){
        min-width: 12.1em;
    }

    .input-group{
        width: 25%;
    }
}