svg{
    width: 16px;
    height: 16px;
}

.count {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.counter {
    gap: 1rem;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.incrBtn,
.decrBtn {
    padding: .75em 1em;
    border-radius: .25em;
    /*background: hsl(0, 0%, 0%);*/
    color: hsl(0, 0%, 50%);
    background: hsl(0, 0%, 80%, .5);
    border: 1px solid hsl(0, 0%, 80%, .5);
    /*border: 1px solid hsl(0, 0%, 20% ,.95);*/
}

.incrBtn:hover,
.decrBtn:hover{
    scale: 1;
    background: hsl(0, 0%, 8%);
}

.incrBtn:focus-within,
.decrBtn:focus-within{
    outline-offset: 1px;
    outline: 2px solid hsl(0, 0%, 50% ,.95);
}