* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	background-color: #ddd;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 550px;
	background: linear-gradient(45deg, #571845, #c70039);
	flex-direction: column;
	overflow-y: scroll;
	padding: 20px 5px 0 20px;
}

header h2 {
	font-size: 22px;
	color: #fff;
	padding-bottom: 5px;
}

.scrollbox {
	overflow: auto;
	padding-right: 10px;
}

.scrollbox-inner p {
	font-size: 16px;
	color: #fff;
}
