<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload Dropzone</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="./imgUpload.css">
</head>

<body>
    <div class="drop-zone">
        <div class="cover zone">
            <span class="icon" data-icon="cameraSpark"></span>
            <div class="img-preview">
                <img src=" " alt="" hidden>
            </div>
            <input type="file" hidden name="profile picture" placeholder="filePicker">
        </div>
        <div class="pfp zone">
            <div class="img-preview">
                <span class="icon" data-icon="cameraSpark"></span>
                <img src=" " alt="" hidden>
            </div>
            <input type="file" hidden name="profile picture" placeholder="filepicker">
        </div>
    </div>
</body>

<script src="./imgUpload.js" type="module" defer></script>
</html>