@import "@styles/base/resets.css";
@import "@styles/base/base.css";

:root {
    --bg-cover: hsl(220, 95%, 23%);

    --clr-plain: hsl(0, 0%, 90%);

    --shadow: 0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);

    --brdr-pfp: 4px solid hsl(0, 0%, 0%);
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: hsl(0, 0%, 0%);
}

img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.drop-zone {
    width: 400px;
    position: relative;
}

.img-preview {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: .5em;
}

.cover {
    height: 120px;
    background: var(--bg-cover);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.pfp {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 16px;
    bottom: -40px;
    border-radius: 5em;
    border: var(--brdr-pfp);
}

.cover,
.pfp {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp .icon svg {
    width: 20px;
    height: 20px;
}

.cover .icon svg {
    width: 30px;
    height: 30px;
}

.pfp .img-preview img {
    width: 100%;
    height: 100%;
    border-radius: 5em;
}

.cover .icon svg,
.pfp .icon svg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    color: var(--clr-plain);
}