*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(images/bubble.jpg);
    background-repeat: no-repeat;
    background-size: 1900px;

}

#container{
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: saturate(180%) blur(2px);
    margin-top: 120px;
    width: 450px;
    height: 450px; 
    border-radius: 5px;
    text-align: center;
    margin-left: 600px;
    box-shadow: 5px 5px 10px;
}

#container h1{
    color: white;
    margin-top:50px ;
    font-weight: 500px;
    font-style: italic;
    font-size: 50px; 
    margin-bottom: 30px;
}

#container input{
    color: black;
    background-color: transparent;
    margin-bottom:0px;
    border: 2px solid;
    border-radius: 7.5px;
    padding: 4px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: white;
    font-style: italic;
    color: white;
}

a{
    color: white;
}

a:hover{
    color: purple;
    transition: 0.5s;
}

h2 button{
    background-color: rgb(34, 198, 113);
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    padding: 5px;
    width: 200px;    
    border-radius: 20px;
    margin-bottom: 40px;   
}

h2 button:hover{
    background-color: whitesmoke;
    color: rgb(34, 198, 113);
    transition: 0.5s;
}

h3{
    color: white;
    font-size: 15px;
    font-style:italic ;
}

h3 a{
    color:rgb(34, 198, 113); 
    text-decoration: none;
    text-shadow: 2px 3px 4px;
}

header{
    background-color: black;
}
