h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
}

marquee {
	font-family: "Courier New", Courier, monospace;
	font-weight: 100;
	font-size: 20px;
	margin: 0 20px;
	border-radius: 30px;
}

.container {
	margin: 0 auto;
	width: 50%;
	font-family: cursive;
	font-weight: bolder;
	margin: 0px 20px;
	border-radius: 10px;
	color: rgb(red, green, blue);
	background-color: blanchedalmond;
	box-shadow: 3px 3px 3px 4px;
	cursor: pointer;
}

body {
	background-image: url(banner.jpg);
	padding: 0px 20px;
	margin: 0px 20px;
	background-size: cover;
	background-blend-mode: darken;
}

.form-one {
	width: 15%;
	margin: 0px 20px;
	padding: 0px 20px;
	border-radius: 5px;
}

.form-one input {
	padding: 10px 20px;
	width: 80%;
	border-radius: 5px;
}

.form-one input:focus {
	outline: invert;
	background-color: black;
	color: white;
}

.form-two {
	width: 15%;
	margin: 0px 20px;
	padding: 0px 20px;
	border-radius: 5px;
}

.form-two input {
	padding: 10px 20px;
	width: 80%;
	border-radius: 5px;
}

.form-two input:focus {
	outline: invert;
	background-color: black;
	color: white;
}

.form-three {
	width: 15%;
	margin: 0px 20px;
	padding: 0px 20px;
	border-radius: 5px;
}

.form-three input {
	padding: 10px 20px;
	width: 80%;
	border-radius: 5px;
}

.form-three input:focus {
	outline: invert;
	background-color: black;
	color: white;
}

.form-four {
	width: 15%;
	margin: 0px 20px;
	padding: 0px 20px;
	border-radius: 5px;
}

.form-four input {
	padding: 10px 20px;
	width: 80%;
	border-radius: 5px;
}

.form-four input:focus {
	outline: invert;
	background-color: black;
	color: white;
}

h4 button {
	width: 12%;
	height: 70%;
	margin: 0px 20px;
	padding: 10px 20px;
	border-radius: 30px;
}

h4 button:hover {
	background-color: black;
	color: white;
}

h5 {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}
