@import "@styles/base/resets.css";
@import "@assets/designs/shadows/shadows.css";
@import "@assets/designs/animations/animations.css";

:root {
    --bg-surface: hsla(250, 80%, 95%);
    --bg-secondary: hsla(0, 0%, 10%, .025);
    --bg-download: hsla(160, 72%, 59%, .295);
    --bg-danger: hsla(360, 74%, 82%, .295);
    --bg-link: hsl(210, 100%, 62%, .295);
    --bg-menu: hsla(0, 0%, 100%, .05);

    --brdr-menu: 1px solid hsla(0, 0%, 95%, .5);
    --brdr-divider: 1px solid hsl(0, 0%, 78%);

    --txt-primary: hsl(225, 6%, 24%);
    --txt-secondary: hsl(224, 5%, 56%);

    --clr-download: hsl(177, 72%, 32%);
    --clr-danger: hsl(358, 74%, 49%);
    --clr-link: hsl(210, 100%, 50%);

    --shadow-menu: var(--shadow);
}

body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-primary);
    background: var(--bg-surface);
}

li {
    list-style: none;
}

button {
    color: inherit;
    cursor: pointer;
    touch-action: manipulation;
}

.menu {
    position: fixed;
    width: 280px;
    display: flex;
    max-width: 100%;
    border-radius: .5em;
    flex-direction: column;
    border: var(--brdr-menu);
    background: var(--bg-menu);
    backdrop-filter: blur(8px);
    transform-origin: top right;
    box-shadow: var(--shadow-menu);
    -webkit-backdrop-filter: blur(8px);
}

.menu-hidden { animation: scaleOut .5s ease forwards; }
.menu-shown { animation: scaleIn .5s ease forwards; }

.card{
    width: 250px;
    height: 250px;
    padding: 1em;
    border-radius: .5em;
    text-align: left;
    box-shadow: var(--shadow-menu);
}

.menu-list {
    width: 100%;
    display: flex;
    padding: .5em;
    flex-direction: column;

}

.menu-list+.menu-list { border-top: var(--brdr-divider); }

.menu-item {
    width: 100%;
    position: relative;
    padding: .5em 1em;
    border-radius: .25em;
}

.menu-btn {
    width: 100%;
    text-align: left;
    display: inline-flex;
    align-items: center;
    gap: .25em;
    padding: .25em;
    padding-right: 2.25em;
    border-radius: .5em;
    background: none;
    border: 1px solid transparent;
}

.menu-btn:hover svg { stroke: var(--txt-primary); }

.menu-item:hover {
    scale: .95;
    background: var(--bg-secondary);
}

.menu-btn svg {
    flex-shrink: 0;
    width: 1.25em;
    height: 1.25em;
    margin-right: 10px;
    stroke: var(--txt-secondary);
}

.copy-link:hover,
.copy-link.focused {
    color: var(--clr-link);
    background: var(--bg-link);
}

.copy-link:hover svg { stroke: var(--clr-link); }

.download:hover,
.download.focused {
    color: var(--clr-download);
    background: var(--bg-download);
}

.download:hover svg,
.download.focused svg { stroke: var(--clr-download); }

.delete { color: var(--clr-danger); }

.delete svg { stroke: var(--clr-danger); }

.delete:hover,
.delete.focused { background: var(--bg-danger); }

.delete:hover svg,
.delete.focused svg { stroke: var(--clr-danger); }

.deleted{
    transform-origin: bottom left;
    transition: .5s ease-in-out;
    transform: scale(0);
}