<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Context Menu Component">
    <meta name="description" content="A multi-purpose menu designed for multiple operations in an app.">
    <title>Context Menu Component</title>
</head>

<body>
    <div class="card">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam praesentium corporis vitae
            consequatur asperiores accusamus deleniti, cum facere repellat porro ea inventore incidunt neque aliquid
        </p>
    </div>
    <context-menu></context-menu>
</body>

<script src="./context-menu.js" type="module" defer></script>

</html>