<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Component</title>
</head>
<body>
    <form action="">
        <div class="actions">
            <label>
                <input type="radio" name="">
                Round Trip
            </label>
            
            <label>
                <input type="radio" name="">
                One Way
                </label>
        </div>
       
        <input type="text" placeholder="input">
        <input type="text" placeholder="input">
        <input type="text" placeholder="input">
        <input type="text" placeholder="input">
        <input type="text" placeholder="input">
        <input type="text" placeholder="input">
    </form>
</body>
</html>