<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post Component</title>
</head>

<style>

</style>

<body>
    <article class="post">
        <h1>Add a new comment</h1>
        <div class="comment">
            <img src="/" alt="">
            <textarea id="comment" cols="30" placeholder="Type your comment..."></textarea>
        </div>
        <menu>
            <button>? Some HTML is Okay.</button>
            <button>Post Comment</button>
        </menu>
    </article>
</body>

<script>

</script>
</html>