<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Select Menu Component</title>
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="/src/css/selectMenu.css">
</head>

<body>
    <main>
        <article class="dropdown">
            <div class="select">
                <span>Select Country</span>
                <div class="picker"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-arrow">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M18.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1 -1.414 0l-6 -6a1 1 0 0 1 1.414 -1.414l5.293 5.293l5.293 -5.293a1 1 0 0 1 1.414 0" />
                </svg>
            </div>
            </div>
            <div class="content">
                <label class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-search">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                    <input type="search" id="searchInput" placeholder="Search" autocomplete="off">
                </label>

                <optgroup>

                </optgroup>
            </div>
        </article>
    </main>
</body>

<script src="/src/js/selectMenu.js"></script>
</html>