<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Component</title>
    <link rel="stylesheet" href="/src/css/sidebar.css">
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="images/knights.jpg" alt="" srcset="">
                </span>

                <div class="text header-text">
                    <span class="name">Dominix</span>
                    <span class="profession">Web developer</span>
                </div>
            </div>

            <i class="fa-solid fa-chevron-right toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul>
                    <li class="search-box">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass icons"></i>
                            <input type="search" placeholder="Search..." id="input">
                        </a>
                    </li>
                </ul>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-house icons"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-bar-chart icons"></i>
                            <span class="text nav-text">Revenue</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-bell icons"></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-pie-chart icons"></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-heart icons"></i>
                            <span class="text">Likes</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class="fa-solid fa-wallet icons"></i>
                            <span class="text nav-text">Wallet</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <ul>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-arrow-right-from-bracket icons"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class="fa-regular fa-moon moon"></i>
                            <i class="fa-regular fa-sun sun"></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home">
        <div class="text">Dashboard</div>
    </section>

    <script src="/src/js/sidebar.js"></script>

</body>

</html>