<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offline Status Dialog Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="offline-dialog.css">
</head>

<body>
    <template>
        <dialog class="popup">
            <span class="icon"></span>
            <div class="details">
                <strong class="title"></strong>
                <p class="desc">
                    
                </p>
                <button class="reconnectBtn">Reconnect Now</button>
            </div>
        </dialog>
    </template>
    
</body>

<script src="offline-dialog.js" defer></script>
</html>