<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress form component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="progress-form.css">
</head>

<body>

    <div class="container">
        <div class="card">
            <div class="form">
                <div class="left">
                    <div class="left-heading">
                        <h3>Progress Form</h3>
                    </div>
                    <div class="steps-content">
                        <h3>Step <span class="step-num">1</span></h3>
                        <p class="step-num active">Enter your personal information to get closer to
                            companies</p>
                        <p class="step-num d-none">Get to know better by adding your diploma, certificate</p>
                        <p class="step-num d-none">Help companies get to know you better by telling them about</p>
                        <p class="step-num d-none">Add your profile picture and let companies find you fast</p>
                    </div>
                    <ul class="progress-bar">
                        <li class="active">Personal Information</li>
                        <li>Education</li>
                        <li>Work Experience</li>
                        <li>User Photo</li>
                    </ul>
                </div>
                <div class="right">
                    <div class="main active">
                        <div class="text">
                            <h2>Your Personal Information</h2>
                            <p>Enter your personal information to get closer to companies</p>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" id="user-name" placeholder="Name">
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="button">
                            <button class="nextBtn">Next Step</button>
                        </div>
                    </div>

                    <div class="main">
                        <div class="text">
                            <h2>Education</h2>
                            <p>Inform companies about your education.</p>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="School Name">
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="Board Name">
                            </div>
                        </div>

                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="University Name">
                            </div>
                        </div>

                        <div class="input-text">
                            <div class="input-div">
                                <select name="select" id="select">
                                    <option value="">select course</option>
                                    <option>BCA</option>
                                    <option>B-TECH</option>
                                    <option>BA</option>
                                    <option>B-COM</option>
                                    <option>B-SC</option>
                                    <option>MBA</option>
                                    <option>M-COM</option>
                                </select>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="backBtn">Back</button>
                            <button class="nextBtn">Next Step</button>
                        </div>
                    </div>

                    <div class="main">

                        <div class="text">
                            <h2>Work Experience</h2>
                            <p>Can you talk about your past work experience?</p>
                        </div>

                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="Experience 1">
                            </div>
                        </div>

                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="Experience 2">
                            </div>
                        </div>

                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" placeholder="Experience 3">
                            </div>
                        </div>

                        <div class="buttons">
                            <button class="backBtn">Back</button>
                            <button class="nextBtn">Next Step</button>
                        </div>
                        
                    </div>

                    <div class="main">
                        <div class="text">
                            <h2>User</h2>
                            <p>Upload your profile picture and share yourself.</p>
                        </div>

                        <div class="user-card">
                            <div class="card">
                                <div class="drop-box">
                                    <header>
                                        <h4>Select file here</h4>
                                    </header>
                                    <p>Files supported: PDF, TEXT, DOC, DOCX</p>
                                    <input type="file" hidden id="file" accept=".doc, .docx, .pdf, .jpg, .png">
                                    <button class="btn" id="uploadBtn">Choose File</button>
                                </div>
                            </div>
                        </div>

                        <div class="buttons">
                            <button class="backBtn">Back</button>
                            <button class="submitBtn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="progress-form.js" defer></script>

</html>