<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress form component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="progress-form.css">
</head>

<body>
    <div class="progress-form">

        <div class="stepper-container">
            <div class="heading">
                <h3>Sign Up Form</h3>
            </div>
            <div class="steps">
                <h3>Step <span class="step-num">1</span></h3>
                <p class="step-content active">Enter your personal details so we can get to know you.</p>
                <p class="step-content">Let us know about your degree of education.</p>
                <p class="step-content">We'd like to know about your prior work experience.</p>
                <p class="step-content">Boost your profile by adding a picture to show yourself.</p>
            </div>
            <ul class="stepper">
                <li class="active">About Yourself</li>
                <li>Education</li>
                <li>Work Experience</li>
                <li>Profile Picture</li>
            </ul>
        </div>

        <div class="forms">
            <template class="form-template">
                <form class="form active">
                    <div class="text">
                        <h2>Your Personal Info</h2>
                        <p>Enter your personal details so we can get to know you.</p>
                    </div>
                    <label>
                        <span class="icon" data-icon="user"></span>
                        <input type="text" id="name" placeholder="Your name. Is it John?">
                    </label>
                    <label>
                        <span class="icon" data-icon="mail"></span>
                        <input type="email" id="email" placeholder="Your Email. Don't make us guess">
                    </label>
                    <label>
                        <span class="icon" data-icon="phone"></span>
                        <input type="text" id="number" placeholder="Your Number. So we can contact you">
                    </label>
                    <label>
                        <span class="icon" data-icon="location"></span>
                        <input type="text" id="address" placeholder="Your Address. So we can find you">
                    </label>
                    <menu>
                        <button class="nxtBtn">Next</button>
                    </menu>
                </form>
            </template>

            <template class="form-template">
                <form class="form">
                    <div class="text">
                        <h2>Degree of Education</h2>
                        <p>Tell us about your education and degrees.</p>
                    </div>
                    <label>
                        <span class="icon" data-icon="school"></span>
                        <input type="text" placeholder="What school did you go to?">
                    </label>
                    <label>
                        <span class="icon" data-icon="board"></span>
                        <input type="email" placeholder="What's their board name?">
                    </label>
                    <label>
                        <span class="icon" data-icon="university"></span>
                        <input type="text" placeholder="You went to college? Which?">
                    </label>
                    <label>
                        <span class="icon" data-icon="diploma"></span>
                        <input type="text" placeholder="What'd you study?">
                    </label>

                    <menu>
                        <button class="backBtn">
                            <span></span>
                            Back
                        </button>
                        <button class="nxtBtn">Next</button>
                    </menu>
                </form>
            </template>

            <template class="form-template">
                <form class="form">
                    <div class="text">
                        <h2>Work Experience</h2>
                        <p>Tell us all about your experience in the working field.</p>
                    </div>
                    <label>
                        <!--<span class="icon" data-icon="business"></span>-->
                        <input type="text" placeholder="Your first work experience">
                    </label>
                    <label>
                        <input type="email" placeholder="What about your second?">
                    </label>
                    <label>
                        <input type="text" placeholder="Is there a third?">
                    </label>
                    <menu>
                        <button class="backBtn">
                            <span></span>
                            Back
                        </button>
                        <button class="nxtBtn">Next</button>
                    </menu>
                </form>
            </template>

            <template class="form-template">
                <form class="form">
                    <div class="text">
                        <h2>Your Profile Picture</h2>
                        <p>Upload a picture of yourself so we can know you better.</p>
                    </div>
                    <div class="drop-box">
                        <span class="icon" data-icon="image"></span>
                        <h4>Choose an image. Any <a href="" class="uploadBtn">Image</a>.</h4>
                        <p>PNG, JPEG, AVIF, WEBP, JPG</p>
                        <input type="file" hidden id="filePicker">
                    </div>
                    <menu>
                        <button class="backBtn">
                            <span></span>
                            Back
                        </button>
                        <button class="submitBtn">
                            Submit
                            <span class="icon" data-icon="check"></span>
                        </button>
                    </menu>
                </form>
            </template>

            <template class="form-completed">
                <img src="../../../Assets/Illustrations/Completed steps.gif" alt="">
            </template>
        </div>
    </div>
</body>
<script src="progress-form.js" type="module" defer></script>

</html>