*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg-card: var(--clr-plain);
    --bg-form: hsl(251, 61%, 52%);
    --bg-container: hsl(250, 69%, 13%);
    --bg-btn: hsl(251, 76%, 50%);

    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    --bxs: 0 15px 30px hsla(0, 0%, 0%, 0.1);

    --clr-plain: hsl(0, 0%, 100%);
    --clr-muted: hsl(0, 0%, 56%);
    --clr-dark: var(--bg-dark);

    --accent: hsl(249, 56%, 50%);

    --brdr-dark: 1px solid var(--bg-dark);
    --brdr-white: 1px solid var(--clr-plain);
    --brdr-muted: 1px solid hsl(220, 9%, 81%);
}

input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: .5em 1em;
    border-radius: .4em;
    border: var(--brdr-muted);
}

input:focus-within {
    outline-offset: 1px;
    outline: 1px solid var(--accent);
}

button {
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    padding: .5em 1em;
    border-radius: .4em;
    color: var(--clr-plain);
    background: var(--bg-btn);
    touch-action: manipulation;
    border: 1px solid transparent;
}

select {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    border: var(--brdr-muted);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-container);
}

.card {
    height: 500px;
    width: 800px;
    position: relative;
    box-shadow: var(--bxs);
    background: var(--bg-card);
    border-radius: .5em;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 35%;
    height: 100%;
    padding: 20px 30px;
    background: var(--bg-form);
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.left-heading {
    color: var(--clr-plain);
}

.steps-content {
    margin-top: 30px;
    color: var(--clr-plain);
}

.steps-content p {
    font-size: 12px;
    margin-top: 15px;
}

.progress-bar {
    list-style: none;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    counter-reset: container 0;
}

.progress-bar li {
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    color: var(--clr-muted);
    counter-increment: container 1;
}

.progress-bar li::before {
    content: counter(container);
    line-height: 25px;
    text-align: center;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -40px;
    top: -5px;
    z-index: 1;
    border-radius: 50%;
    border: var(--brdr-dark);
    background: var(--bg-dark);
}

.progress-bar li::after {
    content: '';
    position: absolute;
    height: 90px;
    width: 2px;
    z-index: 0;
    left: -27px;
    top: -70px;
    background: var(--bg-dark);
}

.progress-bar li.active::after {
    background: hsl(0, 0%, 100%);
}

.progress-bar li:first-child::after {
    display: none;
}

.progress-bar li.active::before {
    color: var(--accent);
    border: var(--brdr-white);
    background: var(--bg-card);
}

.progress-bar li.active {
    color: var(--clr-plain);
}

.d-none {
    display: none;
}

.right {
    width: 65%;
    height: 100%;
    border-radius: 1.25em;
}

.main {
    display: none;
    padding: 67px 50px;
}

.active {
    display: block;
}

.text {
    margin-top: 20px;
}

.text p {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--clr-muted);
}

.input-text {
    margin: 30px 0;
    display: flex;
    gap: 1.25em;
}

.input-div {
    width: 100%;
    position: relative;
}

.buttons {
    display: flex;
    gap: 1.25em;
}

/*.buttons:nth-child(1) {
    color: var(--clr-dark);
    border: var(--brdr-dark);
    background: var(--bg-card);
}*/

.user-card {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.drop-box {
    margin: 10px;
    padding: 30px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 3px dotted hsl(0, 0%, 64%);
}

.drop-box h4 {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 18%);
}

.drop-box p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 64%);
}

.btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--clr-plain);
    background: var(--bg-btn);
}

.btn:hover {
    color: var(--accent);
    outline: var(--brdr-dark);
    background: var(--bg-card);
}

@media (max-width: 750px) {
    .container {
        height: scroll;
    }

    .card {
        height: auto;
        margin: 30px 0;
        max-width: 450px;
    }

    .right {
        width: 100%;
    }

    .input-div {
        margin-top: 20px;
    }

    .input-text {
        display: block;
    }

    .user-card {
        height: 261px;
    }

    .left {
        display: none;
    }
}