<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Toast Component</title>
</head>
<body>
    <button>Show Toast</button>
    <div class="toast">
        <span class="icon checkmark" data-icon="checkmark"></span>
        <div class="content">
            <div class="message">
                <strong>Success</strong>
                <p>Your changes have been saved</p>
            </div>
        </div>
        <span class="icon close" data-icon="close"></span>
        <div class="progress"></div>
    </div>
</body>

<script type="module" src="./toast.js"></script>
</html>