*::before,
*::after,
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: system-ui;
}

html{
	scroll-behavior: smooth;
}

:root {
	--shadow:
		0 4px 6px hsla(0, 0%, 0%, 5%),
		0 10px 20px hsla(0, 0%, 0%, 1%),
		0 20px 40px hsla(0, 0%, 0%, 15%);
	interpolate-size: allow-keywords;
}

nav{
	position: fixed;
	width: 100%;
	padding: 1rem 5%;
	display: flex;
	justify-content: space-between;
	background: hsl(0, 0%, 100%);
	border-bottom: 2px solid hsl(0, 0%, 95%);
}

ul{
	list-style: none;
	display: flex;
	gap: 2rem;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	/*padding-top: clamp(5rem, 10vw, 7.5rem);
	padding-inline: clamp(4rem, 8vw, 8rem);*/
	min-height: 60vh;
}

h1,
p {
	letter-spacing: 0.5px;
}

button, a{
	cursor: pointer;
}

menu {
	display: flex;
	align-items: center;
	gap: 1rem;
}

p {
	line-height: 1.5;
	width: 60ch;
}

a {
	font-size: 1rem;
	text-decoration: none;
	color: hsl(0, 0%, 0%);
}

button {
	padding: .5em 1em;
	border-radius: .25em;
	border: none;
	font-size: 1rem;
	font-weight: 500;
}

img {
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}

figure{
	width: 100%;
}

article{
	width: 100%;
	max-width: 350px;
	height: auto;
	display: flex;
	flex-direction: column;
	box-shadow: var(--shadow);
	border-radius: .5rem;
}

#products{
	gap: 5rem;
}

.products{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.navbar{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo{
	font-size: 22px;
	font-weight: 700;
	letter-spacing: .5px;
}

.active{
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
	/*color: hsl(30, 76%, 48%);*/
}

.OrderBtn{
	background: none;
	border: 2px solid;
	font-style: italic;
	border-radius: 1rem;
}

.about-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.ExploreBtn, .ViewBtn, .ReadBtn {
	padding: .5em 1em;
	border-radius: .25em;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	background: hsl(0, 0%, 95%);
}

.card-body{
	padding: 2rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 10px;
}

.card-txt{
	width: 40ch;
}

.section-header h1,
.section-header p{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}