*::before,
*::after,
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: system-ui;
}

:root {
	--primary: hsl(28, 80%, 52%);
	--primary-hover: hsl(28, 80%, 42%);
	--txt: hsl(0, 0%, 13%);
	--muted: hsl(0, 0%, 47%);
	--bg: hsl(0, 0%, 98%);
}

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	display: none;
}

:root {
	--shadow:
		0 4px 6px hsla(0, 0%, 0%, 5%),
		0 10px 20px hsla(0, 0%, 0%, 1%),
		0 20px 40px hsla(0, 0%, 0%, 15%);
	interpolate-size: allow-keywords;
}

nav {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 1rem 5%;
	display: flex;
	justify-content: space-between;
	background: hsl(0, 0%, 100%);
	border: 2px solid hsl(0, 0%, 95%);
	/*background: hsl(30, 76%, 48%);
	color: hsl(0, 0%, 95%);*/
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	/*padding-top: clamp(5rem, 10vw, 7.5rem);
	padding-inline: clamp(4rem, 8vw, 8rem);*/
	min-height: 60vh;
	border-bottom: 4px solid hsl(0, 0%, 95%);
}

h1,
p {
	letter-spacing: 0.5px;
}

button,
a {
	cursor: pointer;
}

menu {
	display: flex;
	align-items: center;
	gap: 1rem;
}

p {
	line-height: 1.5;
	width: 60ch;
}

ul {
	list-style: none;
}

a {
	font-size: 1rem;
	text-decoration: none;
	color: hsl(0, 0%, 0%);
	transition: .5s ease;
}

a[target="_blank"],
a[class="contact"] {
	color: hsl(0, 0%, 95%);
}

a[class="domzLink"] {
	color: hsl(26, 100%, 48%);
}

button {
	padding: .5em 1em;
	border-radius: .25em;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	transition: .5s ease;
}

picture {
	width: 500px;
	height: 500px;
}

img {
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: .5rem;
	transition: .5s ease;
}

figure {
	width: 100%;
	border-radius: .5rem;
	overflow: hidden;
}

article:not(.card) {
	position: relative;
	max-width: 100%;
	width: 350px;
	padding: 1rem 1rem 1rem;
	height: auto;
	display: flex;
	flex-direction: column;
	box-shadow: var(--shadow);
	border-radius: .75rem;
	gap: 1rem;
}

footer {
	padding: 3rem 1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	background: hsl(30, 76%, 48%);
	color: hsl(0, 0%, 95%);
}

#products {
	position: relative;
	padding-top: clamp(5rem, 10vw, 7.5rem);
	padding-bottom: 160px;
	gap: 5rem;
}

.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
}

#about {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
}

.section-header h1,
.section-header p {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-txt {
	color: hsl(0, 0%, 50%);
}

.navbar {
	display: flex;
	position: relative;
	align-items: center;
	gap: 1rem;
}

.logo {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: .5px;
	color: inherit;
}

.active {
	position: relative;
	font-weight: 600;
	color: hsl(28, 80%, 52%);
}

.link {
	padding: .25em .5em;
}

.link:hover {
	color: hsl(30, 96%, 52%);
}

.line {
	position: absolute;
	bottom: -2px;
	left: 5px;
	width: 50px;
	height: 5px;
	background: hsl(24, 96%, 52%);
	border-radius: 1rem;
	transition: all .3s ease;
}


.ReserveBtn {
	color: inherit;
	background: none;
	border: 2px solid;
	font-style: italic;
	border-radius: 1rem;
}

.about-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.ExploreBtn,
.ViewBtn,
.ReadBtn {
	padding: .5em 1em;
	border-radius: .25em;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	background: hsl(0, 0%, 95%);
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	margin: 10px;
}

.card-product {
	font-size: 1.25rem;
	font-weight: 600;
}

.card-txt {
	width: 40ch;
	font-size: .85rem;
	color: hsl(0, 0%, 50%);
}

.CardBtn {
	color: hsl(0, 0%, 95%);
	background: hsl(26, 100%, 48%);
}

.CardBtn:hover {
	background: hsl(26, 100%, 40%);
	transform: translateY(-2px);
}

.rate {
	position: absolute;
	top: 160px;
	left: 24px;
}

.more {
	position: absolute;
	right: 40px;
	top: 200px;
	font-weight: 600;
	font-size: 18px;
}

.more:hover {
	color: var(--primary);
}

.price {
	font-weight: 700;
	font-size: 1.1rem;
}

.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2.5rem;
}

.footer a,
.footer ul {
	opacity: .75;
}

.footer a:hover {
	opacity: 1;
}

.footer li {
	margin-bottom: 8px;
}

.card-img {
	transform: scale(1);
	transition: .5s ease;
}

.image:hover .card-img {
	transform: scale(1.1);
}

.about-img {
	width: 500px;
	height: 300px;
}

.section-p {
	color: hsl(26, 100%, 48%);
	font-size: 25px;
	text-transform: uppercase;
}

.menu {
	display: flex;
	gap: 2rem;
	color: hsl(0, 0%, 95%);
}

.copy {
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ExploreBtn {
	background: none;
	border: 2px solid hsl(26, 100%, 48%);
	color: var(--primary);
}

.ReserveBtn {
	background: none;
	border: 2px solid hsl(26, 100%, 48%);
	color: var(--primary);
}

.ReserveBtn:hover {
	background: hsl(26, 100%, 48%);
	color: hsl(0, 0%, 100%);
}

.ViewBtn {
	background: hsl(26, 100%, 48%);
	color: hsl(0, 0%, 100%);
}

.ReadBtn {
	background: hsl(26, 100%, 48%);
	color: hsl(0, 0%, 100%);
}

.ReadBtn:hover {
	background: hsl(26, 100%, 40%);
}

.ViewBtn {
	background: hsl(26, 100%, 48%);
	color: hsl(0, 0%, 100%);
}

.ViewBtn:hover {
	background: hsl(26, 100%, 40%);
}

.ViewBtn:hover,
.ExploreBtn:hover {
	transform: translateY(-5px);
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 8%;
}

/*.home-header,
.about-header,
.services-header,
.product-header {
	font-size: 2rem;
	letter-spacing: .5px;
	background-color: hsl(30, 100%, 47%);
	background: linear-gradient(8deg, hsla(35, 100%, 47%, .75) 0%, hsl(30, 100%, 47%));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: red;
}*/

.services-header {
	font-size: 2rem;
	letter-spacing: .5px;
	background-color: hsl(30, 100%, 47%);
	background: linear-gradient(8deg, hsla(35, 100%, 47%, .75) 0%, hsl(30, 100%, 47%));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: red;
}

.card-header {
	letter-spacing: .5px;
	font-size: 20px;
	font-weight: 600;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	margin-top: 80px;
}

.card {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	max-width: 100%;
	width: 350px;
	height: auto;
	box-shadow: var(--shadow);
	padding: 5% 8%;
	border-radius: .5rem;
	transition: all .3s ease;
	border: 2px solid transparent
}

.card:hover {
	transform: translateY(-10px);
	border: 2px solid hsl(30, 100%, 47%);
}


.service {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.lucide {
	width: 16px;
	height: 16px;
	transition: all .3s ease;
}

.card:hover a {
	color: hsl(30, 100%, 47%);
}

.card:hover .lucide {
	transform: translateX(5px);
}

.icon {
	width: 40px;
	height: 40px;
}

.more {
	display: inline-flex;
	align-items: center;
	gap: .1rem;
	text-decoration: none;
	font-weight: 500;
	color: hsl(0, 0%, 15%);
	transition: .3s ease;
}

.service-txt {
	color: hsl(0, 0%, 45%);
}

@media(max-width: 768px) {

	.about-img,
	.menu,
	.line {
		display: none;
	}

	.products,
	.footer,
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}