@layer base, primitives, components;

@layer base {

	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: "Poppins", sans-serif;
		display: grid;
		/*background-color: rgba(0, 0, 0, 0.55);
		background-blend-mode: overlay;
    	container-type:inline-size;*/
		grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"navbar navbar"
			"main main"
			"footer footer";
	}

	:root {
		--base-bg: hsl(0, 0%, 98%);

		--fs-lg: clamp(1.96rem, calc(1.58rem + 1.91vw), 3.01rem);
		--fs-md: clamp(1.8rem, calc(1.5rem + 1.49vw), 2.62rem);
		--fs-sm: clamp(.9rem, .85rem + .2vw, 1rem);
		--h1-font-size: clamp(1.66rem, calc(1.43rem + 1.14vw), 1.28rem);
		--h2-font-size: clamp(1.4rem, calc(1.28rem + 0.61vw), 1.73rem);
		--h3-font-size: clamp(1.29rem, calc(1.2rem + 0.41vw), 1.51rem);
		--h4-font-size: clamp(1.18rem, calc(1.13rem + 0.24vw), 1.32rem);
		--h5-font-size: clamp(1.13rem, calc(1.11rem + 0.13vw), 1.23rem);
		--h6-font-size: clamp(1.09rem, calc(1.07rem + 0.08vw), 1.15rem);
		--p-font-size-lg: clamp(0.92rem, calc(0.93rem + -0.07vw), 0.87rem);
		--p-font-size: clamp(0.88rem, calc(0.9rem + -0.09vw), 0.81rem);
		--p-font-size-sm: clamp(0.85rem, calc(0.87rem + -0.12vw), 0.76rem);

		--radius-layer-1: 1.5em;
		--radius-layer-2: 1em;
		--radius-layer-3: .75em;
		--radius-layer-4: .5em;
		--radius-layer-5: .25em;

		--border-1: 1px solid hsl(0,0%,15%);
		--border-2: 1px solid hsl(0,0%,25%);
		--border-3: 1px solid hsl(0,0%,85%);

		--icon-md: 1rem;
		--icon-lg: 1.25rem;
		--icon-xl: 1.5rem;

		--container-width-1: 1200px;
		--container-width-2: 100%;
		--container-width-3: 75%;
		--container-width-4: 95%;
		--container-width-5: 50%;
		--container-width-6: 25%;
		--container-width-7: 100vmax;
		--container-width-8: 50vmax;

		--txt-color: hsl(0,0%,25%);
		--txt-muted: hsl(0,0%,65%);
		--txt-white: hsl(0,0%,95%);

		--padding-1: clamp(.5rem, calc(2vw + 1rem), 1rem);		
		--padding-2: clamp(1rem, calc(3vw + 2rem), 1.25rem);		
		--btn-padding-block: clamp(.5em, .4em, .6vw);		
		--btn-padding-inline: clamp(1em, .8em, 1vw);	
		--link-padding-block: clamp(.4em, .35em, .6vw);		
		--link-padding-inline: clamp(.6em, .5rem, .9em);	


		--gap-xxl: 5rem;
		--gap-xl: 2rem;
		--gap-lg: 1.5rem;
		--gap-md: 1.25rem;
		--gap-base: 1rem;
		--gap-sm: .5rem;
	}
}

@layer primitives {
	@scope(body) {
		h1 {
			font-size: var(--h1-font-size);
		}

		h2 {
			font-size: var(--h2-font-size);
		}

		nav {
			display: flex;
			background: var(--base-bg);
			width: var(--container-width-4);
			justify-content: space-around;
			align-items: center;
			grid-area: navbar;
			padding: var(--padding-2);
		}

		main{
			grid-area: main;
		}

		footer{
			grid-area: footer;
		}

		ul{
			display: flex;
			gap: var(--gap-base);
		}

		li {
			list-style: none;
		}

		a {
			text-decoration: none;
			font-size: var(--fs-sm);
			padding-block: var(--link-padding-block);
			padding-inline: var(--link-padding-inline);
			color: var(--txt-color);
		}

		button{
			padding-block: var(--btn-padding-block);
			padding-inline: var(--btn-padding-inline);
			border: var(--border-1);
			border-radius: var(--radius-layer-5);
		}
	}
}
