@layer base, primitives, components;

@layer base {

	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: "Poppins", sans-serif;
		display: grid;
		/*background-color: rgba(0, 0, 0, 0.55);
		background-blend-mode: overlay;
    	container-type:inline-size;*/
		grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"navbar navbar"
			"main main"
			"footer footer";
	}

	:root {
		--fs-lg: clamp(1.96rem, calc(1.58rem + 1.91vw), 3.01rem);
		--fs-md: clamp(1.8rem, calc(1.5rem + 1.49vw), 2.62rem);
		--h1-font-size: clamp(1.66rem, calc(1.43rem + 1.14vw), 2.28rem);
		--h2-font-size: clamp(1.4rem, calc(1.28rem + 0.61vw), 1.73rem);
		--h3-font-size: clamp(1.29rem, calc(1.2rem + 0.41vw), 1.51rem);
		--h4-font-size: clamp(1.18rem, calc(1.13rem + 0.24vw), 1.32rem);
		--h5-font-size: clamp(1.13rem, calc(1.11rem + 0.13vw), 1.23rem);
		--h6-font-size: clamp(1.09rem, calc(1.07rem + 0.08vw), 1.15rem);
		--p-font-size-lg: clamp(0.92rem, calc(0.93rem + -0.07vw), 0.87rem);
		--p-font-size: clamp(0.88rem, calc(0.9rem + -0.09vw), 0.81rem);
		--p-font-size-sm: clamp(0.85rem, calc(0.87rem + -0.12vw), 0.76rem);

		--radius-layer-1: 1.5rem;
		--radius-layer-2: 1rem;
		--radius-layer-3: .75rem;
		--radius-layer-4: .5rem;

		--icon-md: 1rem;
		--icon-lg: 1.25rem;
		--icon-xl: 1.5rem;
	}
}

@layer primitives {
	@scope(body) {
		h1 {
			font-size: var(--h1-font-size);
		}

		h2 {
			font-size: var(--h2-font-size);
		}

		nav {
			display: flex;
		}

		ul{
			display: flex;
			justify-content: center;
		}

		li {
			list-style: none;
		}

		a {
			text-decoration: none;
		}
	}
}


/*.transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
    pointer-events: none;
}

.transition-row{
    flex: 1;
    display: flex;
}

.transition-row .row-1 .block{
    transform-origin: top;
}

.transition-row .row-2 .block{
    transform-origin: bottom;
}

.block{
    flex: 1;
    background: rgb(248, 187, 6);
}


@media (max-width: 320px) {
    #home, 
    #menu, #services, #footer-container
    {
        width: 700vw;
    }
    .info-box, .btn-box, 
    .banner, .content-container{
        width: 720vw;
    }

    .grid, .col-left, .box,
    .inner-box, .col-right{
        width: 80vw;
    }

    header{
        width: 422.5vw;
    }

    .content-container{
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media (max-width: 1400px) {
    #home, 
    #menu, #services, #footer-container
    {
        width: 200vw;
    }
    .info-box, .btn-box, 
    .banner, .content-container{
        width: 220vw;
    }

    .grid, .col-left, .box,
    .inner-box, .col-right{
        width: 40vw;
    }

    header{
        width: 422.5vw;
    }
    
}
*/

@media (max-width: 768px) {

	#home,
	#menu,
	#services,
	#footer-container {
		width: 200vw;
	}

	.info-box,
	.btn-box,
	.banner,
	.content-container {
		width: 220vw;
	}

	.grid,
	.col-left,
	.box,
	.inner-box,
	.col-right {
		width: 40vw;
	}

	header {
		width: 422.5vw;
	}
}