*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    transition: all .3s ease;
}

:root {
    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
}

button {
    appearance: none;
    padding: .5em 1em;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .25rem;
    border: 1px solid transparent;
}

a,
button {
    cursor: pointer;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    text-transform: capitalize;
}

p,
span,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    letter-spacing: .5px;
}

img {
    display: block;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
    border-radius: 1rem;
}

.cards {
    display: grid;
    /*align-items: center;
    justify-content: center;
    flex-wrap: wrap;*/
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5em;
}

.card {
    display: flex;
    /*flex: 0 0 350px;*/
    flex-direction: column;
    padding: .5em;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    gap: 1rem;
}

.card-content {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em;
    gap: 1rem;
}

.card-header {
    background: hsla(16, 100%, 66%, .15);
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: .5rem;
}

.cartBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1.25rem 0 1.25rem 0;
    background: hsl(25, 90%, 50%);
    color: hsla(0, 0%, 100%);
}

.cartBtn:hover {
    width: 100%;
    scale: .95;
    border-bottom: 4px solid hsl(25, 90%, 40%);
    background: hsl(25, 90%, 40%);
}

.cartBtn span {
    display: none;
    opacity: 0;
    transform: translateX(-5px);
}

.cartBtn:hover span {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.likeBtn {
    padding: .25em .25em;
    border-radius: 50%;
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 100%);
    box-shadow: var(--shadow);
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: .5em 1em;
    top: 0;
    right: 0;
    z-index: 1;
}

.category {
    position: absolute;
    top: -10px;
    left: -20px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    background: hsl(16, 100%, 66%);
    padding: .5em 1em;
    border-radius: .5rem;
    box-shadow: var(--shadow);
}

.desc {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    opacity: .75;
    text-align: start;
    max-width: 25ch;
    margin-bottom: 1.25rem;
}

.specs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    gap: .5rem;
}

.star {
    color: hsl(51, 100%, 50%);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    transform: translateY(0) translateX(0);
    cursor: pointer;
}

.price {
    font-size: 1.25rem;
    font-weight: 600;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
}

.tag {
    flex: 1;
    padding: .25em .75em;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    border: 1px solid hsl(16, 100%, 66%);
    color: hsl(16, 100%, 66%);
    border-radius: .5rem;
    text-align: center;
}

.resCard {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1em;
    border-radius: .5rem;
    position: relative;
    margin-bottom: 1em;
}

.resCard:hover {
    background: hsl(0, 0%, 96%);
    transform: translateY(-5px) translateX(5px);
    box-shadow: var(--shadow);
}

.product-name {
    font-size: 1rem;
}

.description {
    max-width: 215px;
    opacity: .5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    text-overflow: ellipsis;
}

.resCard-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.arrow {
    opacity: .5;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.details .category {
    font-weight: 600;
    padding: .25em .75em;
    border-radius: .5rem;
    background: none;
    font-size: .8rem;
    margin-bottom: 5px;
    color: hsl(16, 100%, 66%);
    border: 1px solid hsl(16, 100%, 66%);
}

.details .price {
    font-weight: 500;
}

.loader {
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
}

.loader::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 5px solid hsl(20, 80%, 50%);
    animation: spin .75s linear 0s infinite;
}

.loader.loading {
    opacity: 1;
    width: 1.5rem;
    height: 1.5rem;
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.cancel {
    opacity: 0;
    width: 0;
    height: 0;
    background: none;
    border: none;
    border-radius: 5rem;
    padding: .5em 1em;
    font-size: 1.5rem;
    cursor: pointer;
}

.cancel.visible {
    opacity: 1;
    width: initial;
    height: initial;
}

.resCard-img {
    width: 80px;
    height: 80px;
}

.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-style: italic;
    opacity: .5;
}

.focus {
    outline: 2px solid hsl(20, 91%, 77%);
    outline-offset: 2px;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 600px;
    margin: 100px auto;
    border-radius: .25rem;
    position: relative;
    box-shadow: var(--shadow);
}

.box {
    display: flex;
    align-items: center;
    padding: .75em 1.25em;
    position: relative;
    border-radius: .25rem;
    background: hsl(0, 0%, 100%);
}

.search {
    position: relative;
    z-index: 2;
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .5em 1em;
}

.results {
    width: 0%;
    opacity: 0;
    border: none;
    overflow-y: auto;
    padding: 1em .75em;
    border-radius: .5rem;
    max-height: 0;
    background: hsl(0, 0%, 100%);
}

.active {
    opacity: 1;
    width: 100%;
    max-height: 500px;
}

::-webkit-search-cancel-button {
    appearance: none;
}

::-webkit-scrollbar {
    width: .45rem;
}

::-webkit-scrollbar-track {
    border-radius: 25px;
    background: hsl(0, 0%, 90%);
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: hsl(0, 0%, 80%);
}