*::before,
*::after,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    transition: .3s ease;
}

:root{
    --shadow:
            0 4px 6px hsla(0, 0%, 0%, 5%),
            0 10px 20px hsla(0, 0%, 0%, 1%),
            0 20px 40px hsla(0, 0%, 0%, 15%);
}

button{
    padding: .45em 1em;
    border: none;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

input{
    padding: .5em 1em;
    height: 40px;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: .25rem;
    outline: none;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: .75em 1em;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

input:focus{
    outline: 1px solid hsl(110, 80%, 50%);
    outline-offset: 1px;
}

.searchInput{
    width: 100%;
    display: flex;
    border-radius: 5rem;
}

.heading{
    color: hsl(0, 0%, 80%);
}

span{
    color: hsl(100, 80%, 50%);
}

article{
    width: 100%;
    padding: 1em 1em 1em;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

article:hover{
    background: hsla(0, 0%, 98%, .95);
}

.msgBtn{
    background: hsl(110, 80%, 50%);
    color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

.msgBtn:hover{
    background: hsl(100, 80%, 30%);
}

.msg{
    color: hsl(0, 0%, 50%);
}

.options{
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

.optBtn{
    background: none;
    font-size: 1.25rem;
}

.optBtn.active{
    background: hsl(0, 0%, 98%);
    border-radius: 5rem;
}

.group{
    width: 100%;
    display: flex;
    gap: .75rem;
    padding: 1em 1em 1em;
}

.groupBtn{
    background: none;
    border: 1px solid hsl(0, 0%, 80%);
    color: hsl(0, 0%, 50%);
    border-radius: 5rem;
}

.groupBtn:hover,
.groupBtn.active{
    background: hsl(90, 100%, 60%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(100, 100%, 85%);
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 1em 1em;
    width: 200px;
    border-radius: .25rem;
    background: hsl(0, 0%, 100%);
    box-shadow: var(--shadow);
    opacity: 0;
    scale: 0;
    transform: translateY(-100%);
}

.menu.active{
    scale: 1;
    opacity: 1;
    transform: translateY(0);
}

.menuBtn{
    background: none;
    color: hsl(0, 0%, 10%);
}

.menuBtn:hover{
    background: hsl(0, 0%, 95%);
}