*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    transition: all .5s ease;
}

:root {
    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    interpolate-size: allow-keywords;
}

body {
    background: hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "aside header"
        "aside main"
        "aside footer";
    min-height: 100dvh;
}

.expand {
    grid-template-columns: 12.5rem 1fr;
}

.header,
.footer {
    background: hsl(0, 0%, 100%);
    padding: 1.25em;
}

.header {
    grid-area: header;
}

.sidebar {
    position: relative;
    background: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 100%);
    padding: 1em;
    grid-area: aside;
}

.logo {
    font-size: 3rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding: 1em 1.5em;
    grid-area: main;
    display: grid;
    gap: 1em;
}

@media (width > 768px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        grid-column: span 2;
    }

    .card-1 {
        grid-area: 1 / 1 / 2 / -1;
    }

    .card-2,
    .card-3 {
        grid-area: auto;
    }

    .card-4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .card-5 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .card-6,
    .card-7 {
        grid-area: span 2 / auto
    }

    .card-8,
        .card-9{ grid-area: span 2; }

    .card-10,
    .card-11,
    .card-12,
    .card-13 {
        grid-column: auto;
    }
}

.card {
    padding: 3em;
    min-block-size: 7rem;
    background: hsl(0, 0%, 100%);
    border-radius: .5rem;
}

.footer {
    grid-area: footer;
}

.card-1 {
    background: linear-gradient(62deg, hsl(50, 80%, 50%), hsl(30, 80%, 50%));
}

.toggle {
    position: absolute;
    inset: 4.5rem -0.75rem auto auto;
    padding: .5em 1em;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5rem;
    border: 1px solid transparent;
    cursor: pointer;
}