*::before,
*::after,
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Electrolize", sans-serif;
}

:root{
    --accent-color: hsl(249, 100%, 72%);
    --base-color: hsl(0, 0%, 100%);
    --txt-color: hsl(0, 0%, 20%);
    --input-color: hsl(252, 100%, 97%);
    --shadow:
            0 4px 6px hsla(0, 0%, 0%, 5%),
            0 10px 20px hsla(0, 0%, 0%, 1%),
            0 20px 40px hsla(0, 0%, 0%, 15%);
}

body{
    min-height: 100vh;
    background: url(/public/assets/images/abstract.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

button{
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    padding: .5em 1em;
    transition: .3s ease;
    margin-top: .7rem;
    background: var(--accent-color);
    color: var(--base-color);
}

a{
    text-decoration: none;
    color: var(--accent-color);
    transition: .3s ease;
    cursor: pointer;
}

a:focus{
    outline: none;
    text-decoration: underline;
    text-shadow: 0 0 3px hsl(249, 100%, 72%);
}

a:hover{
    text-shadow: 0 0 3px hsl(249, 100%, 72%);
    text-decoration: underline;
}

input{
    border: 2px solid transparent;
    background: var(--input-color);
    border-radius: .25rem;
    padding: .5em 1em;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    transition: .3s ease;
    outline: none;
    cursor: pointer;
}

button:hover{
    scale: .95;
    background: var(--txt-color);
}

button:focus{
    background: var(--txt-color);
}

input:hover{
    scale: 1.01;
    border: 2px solid var(--accent-color);
}

input:focus{
    border: 2px solid var(--accent-color) 
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px, 100%);
    margin-top: 1.25rem;
    margin-bottom: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

div:has(input:focus) > label{
    background: var(--txt-color);
}

input::placeholder{
    color: var(--txt-color);
    opacity: 1;
}

label{
    flex-shrink: 0;
    background: var(--accent-color);
    fill: hsl(0, 0%, 100%);
    border-radius: .7rem 0 0 .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500;
    transition: .3s ease;
}

.icon{
    padding: .25rem;
}

.icon-at{
    stroke: hsl(0, 0%, 100%);
}

.wrapper{
    position: relative;
    height: 100vh;
    background: var(--base-color);
    width: max(40%, 600px);
    padding: .7rem;
    border-radius: 0 1.25rem 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1100px){
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}

.incorrect label{
    background: hsl(0, 100%, 65%);
}

.incorrect input{
    border: 2px solid hsl(0, 100%, 65%);
}

#error{
    color: hsl(0, 0%, 100%);
}

.message{
    top: 1.8rem;
    position: absolute;
    background: hsl(0, 100%, 65%);
    box-shadow: var(--shadow);
    padding: .5rem 1rem;
    border-radius: .25rem;
    width: 400px;
    display: none;
}

.active{
    display: block;
}