*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    transition: all .3s ease;
}

:root {
    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    interpolate-size: allow-keywords;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: hsl(0, 0%, 0%);
}

nav {
    color: hsl(0, 0%, 100%);
    position: relative;
    max-width: 1500px;
    height: 60px;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul {
    list-style: none;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    gap: .5rem;
}

button {
    padding: .5em 1em;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid transparent;
    text-wrap: nowrap;
}

a,
button {
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 16rem;
}

.menu {
    width: 100%;
    display: flex;
    color: hsl(0, 0%, 100%);
}

.link {
    opacity: .5;
    padding: .5em 1em;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

.sign {
    border: 1px solid hsl(0, 0%, 50%);
    background: none;
    color: hsl(0, 0%, 100%);
}

.nav-toggle {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    display: none;
}

.bar,
.close {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
}

.close {
    opacity: 0;
}

.nav::-webkit-scrollbar {
    width: 7px;
}

.nav::-webkit-scrollbar-track {
    background: hsl(0, 0%, 20%);
    border-radius: 5rem;
}

.nav::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 10%);
    border-radius: 5rem;
}

@media screen and (max-width: 1110px) {
    .nav {
        flex-direction: column;
        gap: 4rem;
        position: fixed;
        right: -100%;
        top: 3.5rem;
        width: 50%;
        height: 100%;
        background: hsl(0, 0%, 0%);
        padding-block: 4em;
        pointer-events: none;
        overflow: auto;
        opacity: 0;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }

    .nav-toggle {
        display: block;
    }

    menu {
        width: 100%;
        align-items: baseline;
        flex-direction: column;
        padding: .5em 1em;
    }

    .btn {
        width: 100%;
    }

    .dropdown:hover {
        background: hsl(0, 0%, 8%);
    }
}

@media screen and (max-width: 500px) {
    .nav {
        top: -100%;
        left: 0;
        width: 100%;
        /*border-top: 2px solid hsl(0, 0%, 25%, .5);*/
    }

    .nav.show-nav {
        top: 3.75rem;
    }

    .dropdown-menu {
        margin-inline: 1em 1.5em;
        align-items: stretch;
    }

}

@media screen and (min-width: 1118px) {
    .dropdown-menu {
        opacity: 0;
        position: absolute;
        max-height: initial;
        overflow: initial;
        left: 0;
        top: 6rem;
        width: 200px;
        align-items: stretch;
    }

    .dropdown-link {
        padding-inline: 1em 3.5em;
        letter-spacing: .5px;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
    }
}

.dropdown {
    position: relative;
    cursor: pointer;
    font-weight: 500;
    border-radius: .25rem;
}

.dropdown:hover .link {
    background: transparent;
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    border-radius: .25rem;
    background: hsl(0, 0%, 8%);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    max-height: 1000px;
}

.dropdown-link {
    color: hsl(0, 0%, 100%);
    padding: 1.25em;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dropdown-link:hover {
    background: hsl(0, 0%, 0%);
}

.nav.show-nav {
    right: 0;
    opacity: 1;
    pointer-events: all;
}

.show-icon .bar {
    opacity: 0;
    transform: rotate(360deg);
}

.show-icon .close {
    opacity: 1;
    transform: rotate(180deg);
}

.link {
    width: 100%;
    padding: 1.25em 1.5em;
    animation: drop 3s ease forwards;
}

.active {
    opacity: 1;
    background: hsl(0, 0%, 10%);
    transform: translateY(-5px);
}

.link:hover {
    opacity: .75;
    background: hsl(0, 0%, 8%);
}

.logo:hover .planet {
    scale: 1.05;
    fill: currentColor;
    animation: rotate 2s ease-in-out forwards;
}

.logo {
    animation: slide 2s ease;
}

.logo span {
    position: relative;
}

.logo:hover span {
    transform: translateX(8px);
}

.btn {
    animation: dropIn 4s ease forwards;
}

.login {
    opacity: 0;
    animation-delay: 1s;
}

.sign {
    opacity: 0;
    animation-delay: 1.25s;
}

.btn:hover {
    scale: .95;
}

.login:hover {
    background: hsl(0, 0%, 75%);
}

.sign:hover {
    background: hsl(0, 0%, 10%);
}

@keyframes rotate {
    to {
        transform: translateY(-5px) translateX(-5px) rotate(180deg);
    }
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes drop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes dropIn {
    from {
        opacity: 0;
        transform: translateY(-150%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}