/* Universal styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    transition: .3s ease;
}

/* Root: Variable Source */

    :root {
        --shadow:
            0 4px 6px hsla(0, 0%, 0%, 5%),
            0 10px 20px hsla(0, 0%, 0%, 1%),
            0 20px 40px hsla(0, 0%, 0%, 15%);
        --accent-clr: hsl(210, 100%, 50%);
        --accent-dark-shade: hsl(210, 100%, 40%);
        --accent-light-shade: hsl(210, 100%, 90%);
        --clr: hsl(200, 100%, 96%);
        --bxs: inset 1px 1px 2px hsl(0, 0%, 80%);
        --plain-clr: hsl(0, 0%, 100%);
        --dark: hsl(0, 0%, 10%);
        --plain-shade: hsl(0, 0%, 95%);
        --muted-clr: hsl(0, 0%, 50%);
        --muted: hsl(0, 0%, 80%);
        --task-bxs: 0px 0px 2px;
        --glass-clr: hsla(0, 0%, 10%, .5);
    }

/*@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark);
        color: var(--plain-clr);
    }

    :root {
        --shadow:
            0 4px 6px hsla(0, 0%, 0%, 5%),
            0 10px 20px hsla(0, 0%, 0%, 1%),
            0 20px 40px hsla(0, 0%, 0%, 15%);
        --accent-clr-1: hsl(0, 0%, 19%);
        --accent-clr-2: hsl(210, 100%, 5%);
        --accent-dark-shade: hsl(210, 100%, 40%);
        --accent-light-shade: hsl(0, 0%, 9%);
        --clr: hsl(200, 100%, 96%);
        --bxs: inset 1px 1px 2px hsl(0, 0%, 80%);
        --plain-clr: hsl(0, 0%, 100%);
        --dark: hsl(0, 0%, 5%);
        --plain-shade: hsl(0, 0%, 25%);
        --muted-clr: hsl(0, 0%, 50%);
        --muted: hsl(0, 0%, 80%);
        --glass-clr: hsla(0, 0%, 10%, .5);
        --task-bxs: 1px 1px 3px hsl(0, 0%, 20%);
        --btn-clr: hsl(0, 0%, 100%);
    }
}*/

/* Primitives */

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.25rem;
    margin-left: 15px;
}

button {
    border: none;
    padding: .5em 1em;
    border-radius: .25em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    position: relative;
}

/* Navbar Content */

.task-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    height: 40px;
    width: min(1100px, 90%);
}

.sort {
    display: flex;
    align-items: center;
}

.sortBtn {
    color: inherit;
    background: none;
}

/* Search box elements */

.task-search {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 2em;
    position: relative;
    overflow: hidden;
}

.search-input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: .75em;
    border-radius: 5em;
    box-shadow: var(--bxs);
    caret-color: var(--accent-clr);
    background: var(--clr);
}

.search-box {
    position: absolute;
    right: 0;
    padding: .75em;
    border-radius: 5em;
    display: inline-flex;
    align-items: center;
    color: var(--plain-clr);
    background: var(--accent-clr);
}

/* Tasks Container */

.tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

.tasks-wrapper {
    width: min(400px, 90%);
}

.tasks-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5em;
    margin-bottom: 1em;
}

.tasks-content {
    border-radius: .4em;
    width: 95%;
    padding: 1em;
    margin: 0px auto;
    margin-top: 20px;
    box-shadow: var(--task-bxs);
}

.count {
    color: var(--muted-clr);
}

/* Task Component Structure */

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.task:not(:last-child) {
    border-bottom: 1px solid var(--muted);
}

.task:hover {
    transform: translateY(-3px);
}

.task-date {
    color: var(--accent-clr-1);
}

.content {
    display: flex;
    align-items: center;
    gap: 1em;
}

.task.completed .task-title {
    text-decoration: line-through;
}

/* Add task button */

.taskBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    position: absolute;
    bottom: 45px;
    right: 45px;
    padding: .75em;
    color: var(--plain-clr);
    background: var(--accent-clr);
    box-shadow: 2px 2px 3px hsla(210, 100%, 50%, .75);
}

.taskBtn:hover {
    scale: 1.15;
    box-shadow: 3px 3px 3px hsla(210, 100%, 50%, .75);
}

.taskBtn:hover svg {
    fill: currentColor;
}

/* Custom checkbox */

.check {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.checkbox {
    width: 1em;
    height: 1em;
    border-radius: .25em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--muted-clr);
}

.checkbox::after {
    content: "";
    width: 5px;
    height: 10px;
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 50%;
    top: 45%;
    border-right: 2px solid var(--plain-clr);
    border-bottom: 2px solid var(--plain-clr);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
}

.check:checked+.checkbox {
    background: var(--accent-clr);
    border-color: var(--accent-clr);
}

.check:checked+.checkbox::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.check:active+.checkbox {
    transform: scale(.9);
}

.check:checked+.lucide-check {
    scale: 1;
}

.lucide-check {
    scale: 0;
    width: 1em;
    height: 1em;
    stroke: var(--plain-clr);
}

/* Placeholder Content */

.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .15em;
}

.empty-state h2 {
    font-size: 1.2em;
}

.empty-msg {
    color: var(--muted-clr);
}

.empty-img {
    scale: .9;
}

/* Dialog Structure */

dialog {
    margin: auto;
    border: none;
    border-radius: .35em;
    box-shadow: var(--shadow);
    background: var(--plain-clr);
    transform: translateY(100%);
    opacity: 0;
}

/* Dialog content */

.dialog {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em 2em;
    border-radius: .5em;
}

.taskInput {
    padding: 1em 2em;
    border-radius: .25rem;
    width: 100%;
    height: 40px;
    outline: none;
    box-shadow: var(--bxs);
    background: var(--plain-shade);
    caret-color: var(--accent-clr);
    border: 1px solid transparent;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.label {
    font-weight: 500;
}

/* Actions */

.saveTask {
    font-weight: 600;
    background: none;
    opacity: .65;
    padding: .25em .75em;
    text-align: center;
    border-radius: 5em;
    color: var(--accent-clr);
    border: 2px solid var(--accent-clr);
}

.saveTask:hover {
    scale: .95;
    color: var(--plain-clr);
    background: var(--accent-clr);
    border-top: 2px inset var(--accent-clr);
}

/* Animation States */

dialog.open {
    animation: slideIn .5s ease forwards;
}

dialog.closing {
    animation: slideOut .5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* Pseudo classes */

:disabled {
    opacity: .5;
}

::backdrop {
    background: var(--glass-clr);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

/* utilities */
.focus{
    animation: hover 1s linear 0s infinite forwards;
}

@keyframes hover{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(0);
    }
}

/* Media query for mobile */

@media screen and (max-width: 768px) {
    .tasks-content {
        width: 95%;
    }

    .search-input {
        width: 0%;
    }

    .task-search:hover .search-input,
    .task-search:focus-within .search-input {
        width: 100%;
        transition: .5s ease;
    }
}