<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Component demo</title>
</head>

<style>

</style>

<body>
    <nav class="sidebar">
        <ul class="menu-dashboard"></ul>
        <ul class="menu-dropdown"></ul>
        <ul class="menu-actions"></ul>
    </nav>

    <template>
        <li>
            <a href="">
                <span></span>
            </a>
        </li>
    </template>
</body>

<script type="text/javascript" defer>

    /*themeBtn.addEventListener("click", () => {
        document.body.classList.toggle("darkmode");
    });
    
    menuBtn.addEventListener("click", () => {
        if (subMenu.classList.contains("open")) {
            subMenu.classList.remove("open");
            subMenu.style.height = "0px";
        } else {
            subMenu.classList.add("open");
            subMenu.style.height = subMenu.scrollHeight + "px";
        }
    });*/

</script>

</html>