*::before,
*::after,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    transition: .3s ease;
}

html{scroll-behavior: smooth;}

:root{
    --base-clr:hsl(233, 21%, 8%);
    --line-clr: hsl(233, 6%, 27%);
    --hover-clr:hsl(229, 20%, 17%);
    --text-clr: hsl(240, 22%, 92%);
    --accent-clr: hsl(238, 100%, 68%);
    --secondary-text-clr: hsl(229, 12%, 72%);
}