*::before,
*::after,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    transition: .3s ease;
}

html{scroll-behavior: smooth;}

:root{
    --base-clr:hsl(233, 21%, 8%);
    --line-clr: hsl(233, 6%, 27%);
    --hover-clr:hsl(229, 20%, 17%);
    --text-clr: hsl(240, 22%, 92%);
    --accent-clr: hsl(238, 100%, 68%);
    --secondary-text-clr: hsl(229, 12%, 72%);
}

body{
    min-height: 100vh;
    color: var(--text-clr);
    background: var(--base-clr);
    display: grid;
    grid-template-columns: auto, 1fr;
}

main{
    padding: min(30px, 7%);
}

main p{
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--secondary-text-clr);
}