@import "../../Styles/resets.css";
@import "../../Styles/base.css";

:root {
    --bg-btn: hsl(251, 81%, 52%);
    --bg-page: hsl(251, 60%, 12%);
    --bg-error: hsla(0, 61%, 52%, .15);
    --bg-container: hsla(0, 0%, 5%, .95);
    --bg-glass: hsla(240, 65%, 43%, 0.19);

    --accent: hsl(251, 61%, 52%);
    --outline-accent: hsl(251, 61%, 32%);

    --brdr-focus: 2px solid var(--accent);
    --brdr-bottom-error: var(--clr-error);
    --brdr-box: 2px dashed hsl(0, 0%, 64%);
    --brdr-pseudo: 1px solid hsl(0, 0%, 64%, .5);
    --brdr-error: 1px solid hsla(15, 82%, 57%, 0.3);
    --brdr-glass: 1px solid hsla(240, 65%, 43%, 0.3);

    --clr-error: hsl(0, 61%, 52%);
    --clr-plain: hsl(0, 0%, 100%);
    --clr-char: hsl(251, 61%, 62%);
    --clr-paragraph: hsl(0, 0%, 64%);
    --clr-heading: hsl(0, 0%, 18%);

    --btn-hover: hsl(251, 71%, 46%);

    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    --shadow-container: 0px 8px 32px var(--accent);
    --shadow-glass: 0 4px 30px hsla(0, 0%, 0%, 0.1);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-page);
}

img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}

form {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
}

button {
    width: 100%;
    border-radius: .25em;
    color: var(--clr-plain);
    background: var(--bg-btn);
}

button:hover {
    scale: .98;
    background: var(--btn-hover);
}

input {
    flex: 1;
    width: 100%;
}

textarea {
    border-radius: .5em;
    border: var(--brdr-glass);
    backdrop-filter: blur(10px);
    background: var(--bg-glass);
    box-shadow: var(--shadow-glass);
    -webkit-backdrop-filter: blur(10px);
    /*background: hsla(250, 61%, 12%, .5);
    background: hsla(250, 15%, 16%, .55);
    box-shadow: inset 4px 12px 16px hsla(261, 41%, 12%);*/
}

input,
textarea {
    color: var(--clr-plain);
    caret-color: var(--accent);
}

textarea:focus-within {
    outline-offset: 1px;
    outline: 2px solid var(--outline-accent);
}

.input:focus-within::before {
    width: 100%;
    height: 100%;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    gap: .25em;
    height: 40px;
    flex: 0 0 auto;
    padding: .5em 1em;
    border-radius: 4px;
    overflow: hidden;
    border: var(--brdr-glass);
    backdrop-filter: blur(10px);
    background: var(--bg-glass);
    box-shadow: var(--shadow-glass);
    -webkit-backdrop-filter: blur(10px);
    /*background: hsla(250, 61%, 12%, .5);
    border: 1px solid transparent;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background: hsla(250, 15%, 16%, .55);*/
    /*box-shadow: inset 0px 8px 32px hsla(261, 41%, 12%);*/
}

.input::before {
    content: '';
    position: absolute;
    width: 0%;
    left: 0;
    bottom: 0;
    transition: .75s ease;
    border: 1px solid transparent;
    border-bottom: var(--brdr-focus);
}

.input::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background: none;
    transform: translateX(25px);
    border-right: var(--brdr-pseudo);
}

.input.error {
    border: var(--brdr-error);
    background: var(--bg-error);
    animation: shake .25s linear;
}

.input.error::before {
    width: 100%;
    border-bottom-color: var(--brdr-bottom-error);
}

.icon.error svg {
    stroke: var(--clr-error);
}

.container {
    padding: 1em;
    width: 1000px;
    height: 600px;
    display: flex;
    border-radius: .5em;
    justify-content: center;
    background: var(--bg-container);
    box-shadow: var(--shadow-container);
}

.image {
    width: 45%;
    padding: .25em;
}

.form {
    width: 55%;
}

.input-group {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

/*.icon:not(.input-group .icon) {
    width: 13%;
    padding: .5em;
    display: grid;
    place-items: center;
    background: var(--accent);
    transform: translateX(-15px);
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}

.input-group .icon {
    width: 12%;
    padding: .5em;
    background: var(--accent);
    transform: translateX(-15px);
}*/

.icon svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    transform: translate(0);
    stroke: var(--accent);
}

.error-text {
    font-size: 13px;
    margin-top: 5px;
    color: var(--clr-error);
}

.chars {
    font-size: 12px;
    text-align: right;
    color: var(--clr-char);
}

@keyframes shake {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}