*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol {
    padding: 2em;
}

.cards {
    gap: .25em;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: baseline;
}

.box {
    border: 3px solid;
    padding: 25px;
}

.icon {
    width: 20px;
    height: 20px;
    stroke: hsl(0, 0%, 50%);
}

.tooltip.revealed {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(-20px);
}