*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards {
    gap: .25em;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: baseline;
}

.box{
    border: 3px solid;
    padding: 25px;
}

ol{
    padding: 2em;
}