<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="post.css">
</head>

<body>
    <article class="post-comment">
        <h1>Add a new comment</h1>
        <div class="comment-block">
            <img src="abstract.jpg" alt="" class="image">
            <div class="text-area">
                <textarea id="comment" cols="30" placeholder="Type your comment..."></textarea>
                <menu>
                    <div class="info">
                        <button class="question">?</button>
                        <p>Can Include Some Files.</p>
                    </div>
                    <button class="postBtn">Post Comment</button>
                </menu>
            </div>
        </div>
    </article>
</body>

</html>