<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A page of accordion cards with different images! Nothing special about them... except they're cool.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="redirect" content="0; url=http://127.0.0.1/src/Components/accordion_card.html">
    <title>A page with accordion cards</title>
</head>

<style>
    
</style>

<body>
    <div class="accordion">
        <figure class="card">
            <img src="/public/assets/images/Hotel_items (3).jpg" alt="A white hotel with a glowing blue pool" loading="lazy" fetchpriority="high" decoding="async">
        </figure>
    
        <figure class="card">
            <img src="/public/assets/images/Hotel_items (2).jpg" alt="A beach house with a pool with a person swimming inside it" loading="lazy" fetchpriority="high" decoding="async">
        </figure>
    
        <figure class="card">
            <img src="/public/assets/images/Hotel_items (1).jpg" alt="A hotel with a pool and trees" loading="lazy" fetchpriority="high" decoding="async">
        </figure>
    
        <figure class="card">
            <img src="/public/assets/images/cafe_items (2).jpg" alt="A smiling brownskin lady working behind a tablet" loading="lazy" fetchpriority="high" decoding="async">
        </figure>
    
        <figure class="card">
            <img src="/public/assets/images/cafe_items (12).jpg" alt="A white man working behind a counter in a cafe" loading="lazy" fetchpriority="high" decoding="async">
        </figure>
    </div>
</body>

<script type="module" src="./accordion-card.js" defer></script>
</html>