<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchBox Dropdown Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="search-dropdown.css">
</head>

<body>
<!--<nav>
        <template class="searchTemplate">
            <div class="search-component">
                <div class="search-bar">
                    <span class="spinner"></span>
                    <label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide search">
                            <path d="m21 21-4.34-4.34" />
                            <circle cx="11" cy="11" r="8" />
                        </svg>
                        <input type="search" class="search-input" placeholder="Have a look at anything"
                            id="searchInput">
                    </label>
                </div>

                <div class="search-dropdown">
                    <template class="noResults">
                        <div class="no-results">
                            <img src="search-illustr.svg" alt="">
                            <h2>Nothing found</h2>
                            <p>Try searching for something else</p>
                        </div>
                    </template>
                    <template class="dropdown-template">
                        <article class="card">
                            <figure>
                                <img src=" " alt="">
                            </figure>
                            <div class="card-body">
                                <div class="info">
                                    <h1 class="name"></h1>
                                    <span class="price"></span>
                                </div>
                                <p class="desc">
                                    Crispy chicken cheese burger with... 
                                </p>
                            </div>
                        </article>
                    </template>
                </div>
            </div>
        </template>
    </nav>-->
</body>

<script src="search-dropdown.js" defer></script>

</html>