<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tooltip Component</title>
</head>

<body>
    <div class="tooltip-view">
        <menu>
            <tool-tip>
                <p slot="info">This is a tooltip</p>
            </tool-tip>
            <!--<my-button class="reveal-btn" aria-label="Create Note">
                <span slot="text" class="text">
                    Reveal Tooltip
                    <i data-lucide="eyeClosed"></i>
                </span>
            </my-button>-->
        </menu>
    </div>
</body>

<script type="module" src="./tooltip.js" defer></script>

</html>