@import "@styles/base/base.css";
@import "@assets/designs/glassmorphism/glass.css";
@import "@assets/designs/animations/animations.css";

:root{
    --hovered-scale: .95;
    --hovered-bg: hsl(210, 100%, 35%, .25);
    --hovered-brdr: 1px solid hsla(210, 100%, 40%, .85);

    --active-scale: .9;
    --active-bg: hsl(210, 100%, 46%, .25);
    --active-brdr: 1px solid hsl(210, 100%, 46%, .84);

}

button {
    color: var(--clr-plain);
    border: var(--glass-border);
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
}

button:hover {
    transform: scale(var(--hovered-scale));
    background: var(--hovered-bg);
    border: var(--hovered-brdr);
}

button.active {
    transform: scale(var(--active-scale));
    background: var(--active-bg);
    border: var(--active-brdr);
}

.button-view {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../../Assets/Images/abstract-waves.jpg);
}

.text {
    font-size: var(--font-size);
    font-weight: var(--weight-thick);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: hsl(0, 0%, 0%, .75);
    animation: ripples .6s linear infinite;
}