*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --base: var(--shade-blue-400);

    /*--brand-shade-1: hsl(from var(--brand-clr) h s calc(l + 2) / .5);
    --brand-shade-2: hsl(from var(--brand-clr) h s calc(l + 4) / .5);
    --brand-shade-3: hsl(from var(--brand-clr) h s  calc(l + 6) / .5);
    --brand-shade-4: hsl(from var(--brand-clr) h s  calc(l + 8) / .5);
    --brand-shade-5: hsl(from var(--brand-clr) h s  calc(l + 10) / .5);
    --brand-shade-6: hsl(from var(--brand-clr) h s  calc(l + 12) / .5);*/
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
    background: hsl(220, 100%, 90%, .5);
}

img {
    width: 100%;
    height: 100%;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: inherit;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 600;
    padding: .5em 1em;
    position: relative;
    background: none;
    opacity: .5;
    border-radius: .25rem;
    transform-origin: bottom;
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur(5px);
}

button:is(.active, :hover){
    opacity: 1;
}

h1{
    margin: .5em 0;
    font-size: 30px;
    font-weight: 400;
}

h3{
    font-weight: 400;
}

menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container{
    width: max(700px, 90%);
    margin: 0 auto;
}

.columns{
    display: flex;
    gap: 1.5em;
}

.column{
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
}

.column-header{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.column-title{
    text-transform: uppercase;
}

.column-header button{
    padding-block: 0;
    padding-inline: .5em;
}

.column-info{
    gap: .5em;
    display: flex;
    align-items: center;
}

.task-count{
    font-size: 12px;
    padding: .25em .5em;
    border-radius: 5rem;
    background: hsl(220, 100%, 80%);
}

.tasks{
    gap: .5em;
    display: grid;
    min-height: 100%;
    align-content: start;
}

.task,
.task-input{
    padding: .875em;
    min-height: 100%;
    position: relative;
    border-radius: .25em;
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 2px 4px hsl(0, 0%, 0%, .1);
}

.task{
    cursor: move;
}

.task-input{
    cursor: pointer;
    outline: none;
    overflow-wrap: anywhere;
}

.dragging{
    cursor: default;
    box-shadow: none;
    background: hsl(220, 100%, 80%)
}

.dragging *{visibility: hidden;}

.task:not(.dragging):hover{
    opacity: .5;
}

.task button{
    padding-inline: .5em;
}

.task hr{
    border-top: 1px solid hsl(0, 0%, 80%);
}

.edit-icon svg,
.delete-icon svg{
    width: 18px;
    height: 18px;
}

.file-icon svg{
    opacity: .5;
    width: 20px;
    height: 20px;
}

/*.box {
    padding: 2em;
    height: 200px;
    flex: 0 0 300px;
    border-radius: 4px;
    width: min(500px, 80%);
    color: hsl(3, 0%, 100%);
    font-size: clamp(12px, 2vw, 1rem);
    box-shadow:
        2px 2px 0px hsla(0, 0%, 0%, 0.1),
        -2px -2px 0px hsla(0, 0%, 0%, 0.1);
    background: linear-gradient(270deg, hsl(0, 100%, 50%), hsl(30, 100%, 50%), hsl(210, 100%, 50%), hsl(220, 100%, 45%), hsl(340, 100%, 58%));
    background-size: 300% 300%;
}

.linear{
    background: repeating-linear-gradient(to top right, var(--shade-1) 0px 40px, var(--shade-2) 45px 70px);
    background: linear-gradient(to bottom right, hsl(0, 100%, 50%), hsla(0, 100%, 50%, .5));
}

.radial{
    background: repeating-radial-gradient(circle, var(--shade-9) 0%, 10%, var(--shade-10) 10% 20%);
}

.conic{
    width: 200px;
    background: conic-gradient(from 45deg at 40% 60%, hsl(0, 100%, 50%), hsl(39, 100%, 50%), hsl(215, 77%, 50%),
     hsl(30, 100%, 50%), hsl(5, 100%, 50%));
}*/

.box {
    width: 80px;
    height: 80px;
    border-radius: .5rem;
    background: linear-gradient(45deg, hsl(100, 100%, 50%), hsl(0, 0%, 100%, .85));
}

.over {
    opacity: .5;
}

.dropzone {
    gap: 1rem;
    width: 500px;
    height: 300px;
    position: relative;
    border: 8px dashed hsl(0, 0%, 0%);
    grid-template-columns: repeat(2, 80px);
}

.draggable {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: .25rem;
    background: hsl(0, 0%, 0%);
}

.box-1{background: blue;}
.box-2{background: red;}
.box-3{background: orange;}
.box-4{background: yellow;}