<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Card Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="product-card.css">
</head>

<body>
    <div class="cards">
        <article class="product">
            <figure>
                <img src=" " alt="">
            </figure>
            <div class="card">
                <h1>Product Name</h1>

                <div class="info">
                    <span class="price">$22.67</span>
                    <span class="rating">&star;4.3</span>
                </div>

                <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et reprehenderit iusto fugit,
                    quidem
                    nobis alias, temporibus doloremque, tempore repudiandae quasi neque. Minus culpa commodi dicta ut
                    ipsa
                    vel placeat!
                </p>

                <div class="content">
                    QUANTITY:
                    <menu class="button-menu">
                        <button>-</button>
                        <output>1</output>
                        <button>+</button>
                    </menu>
                </div>

                <menu class="actions">
                    <button class="cart-button">ADD TO CART</button>
                    <a href="">View Details</a>
                </menu>
            </div>
        </article>

        <!--<article class="product">
            <figure>
                <img src="/public/assets/images/abstract.jpg" alt="">
            </figure>
            <div class="card">
                <h1>Product Name</h1>

                <div class="info">
                    <span class="price">$22.67</span>
                    <span class="rating">&star;4.3</span>
                </div>

                <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et reprehenderit iusto fugit,
                    quidem
                    nobis alias, temporibus doloremque, tempore repudiandae quasi neque. Minus culpa commodi dicta ut
                    ipsa
                    vel placeat!
                </p>

                <div class="content">
                    QUANTITY:
                    <menu class="button-menu">
                        <button>-</button>
                        <output>1</output>
                        <button>+</button>
                    </menu>
                </div>

                <menu class="actions">
                    <button class="cart-button">ADD TO CART</button>
                    <a href="">View Details</a>
                </menu>
            </div>
        </article>

        <article class="product">
            <figure>
                <img src="/public/assets/images/abstract.jpg" alt="">
            </figure>
            <div class="card">
                <h1>Product Name</h1>

                <div class="info">
                    <span class="price">$22.67</span>
                    <span class="rating">&star;4.3</span>
                </div>

                <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et reprehenderit iusto fugit,
                    quidem
                    nobis alias, temporibus doloremque, tempore repudiandae quasi neque. Minus culpa commodi dicta ut
                    ipsa
                    vel placeat!
                </p>

                <div class="content">
                    QUANTITY:
                    <menu class="button-menu">
                        <button>-</button>
                        <output>1</output>
                        <button>+</button>
                    </menu>
                </div>

                <menu class="actions">
                    <button class="cart-button">ADD TO CART</button>
                    <a href="">View Details</a>
                </menu>
            </div>
        </article>

        <article class="product">
            <figure>
                <img src="/public/assets/images/abstract.jpg" alt="">
            </figure>
            <div class="card">
                <h1>Product Name</h1>

                <div class="info">
                    <span class="price">$22.67</span>
                    <span class="rating">&star;4.3</span>
                </div>

                <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et reprehenderit iusto fugit,
                    quidem
                    nobis alias, temporibus doloremque, tempore repudiandae quasi neque. Minus culpa commodi dicta ut
                    ipsa
                    vel placeat!
                </p>

                <div class="content">
                    QUANTITY:
                    <menu class="button-menu">
                        <button>-</button>
                        <output>1</output>
                        <button>+</button>
                    </menu>
                </div>

                <menu class="actions">
                    <button class="cart-button">ADD TO CART</button>
                    <a href="">View Details</a>
                </menu>
            </div>
        </article>-->
    </div>

</body>

<script src="product-card.js" defer></script>
</html>