<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State-based Form Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="state-form.css">
</head>

<body>
    <form>
        <div class="actions">
            <label>
                <input type="radio" name="radio">
                Round Trip
            </label>

            <label>
                <input type="radio" name="radio">
                One Way
            </label>
        </div>
        
        <div class="form">
            <input type="text" placeholder="Leaving From...">
            <input type="text" placeholder="Going to...">
            <div class="form-fields">
                <input type="text" placeholder="Depart">
                <input type="text" placeholder="Return">
                <input type="text" placeholder="People">
                <input type="text" placeholder="Class">
            </div>
        </div>
        <button class="button">SEARCH FLIGHTS</button>
    </form>
</body>

<script src="state-form.js" defer></script>
</html>