@import "@styles/base/base.css";
@import "@styles/base/variables.css";
@import "@assets/designs/animations/animations.css";

*::before,
*::after,
* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    transition: all .3s ease allow-discrete;
    -webkit-tap-highlight-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    *::before,
    *::after,
    * {
        animation: none !important;
        transition: none !important;
    }
}

:root {
    --box-shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);

    --bg-danger: hsl(0, 90%, 45%);
    --bg-update: hsl(0, 0%, 10%);
    --bg-confirm: var(--clr-confirm);
    --bg-danger-icon: hsla(0, 90%, 90%, .65);
    --bg-confirm-icon: hsl(210, 90%, 90%, .65);
    --bg-update-icon: hsl(0, 0%, 70%, .65);

    --btn-hover: hsl(0, 0%, 95%);
    --danger-btn-hover: hsl(0, 90%, 35%);
    --confirm-btn-hover: hsl(210, 67%, 35%);
    --update-btn-hover: hsl(0, 0%, 25%);

    --clr-danger: var(--bg-danger);
    --clr-update: var(--bg-update);
    --clr-confirm: hsl(210, 67%, 45%);
    --clr-primary: hsl(0, 0%, 0%);

    --brdr-btn: 1px solid hsl(0, 0%, 80%);
}

h1 {
    color: var(--clr-primary);
    font-weight: 500;
    font-size: 1rem;
}

p {
    font-size: 16px;
    color: var(--muted);
}

dialog {
    max-width: 100%;
    margin: auto;
    width: 450px;
    padding: 1.5em;
    border-radius: .5em;
    border: var(--brdr-dialog);
    box-shadow: var(--box-shadow);
}

dialog.open {
    animation: slideIn .5s ease forwards;
}

dialog.closing {
    animation: slideOut .5s ease forwards;
}

menu {
    display: flex;
    gap: 1em;
    align-items: flex-end;
    justify-content: flex-end;
}

span.icon {
    padding: .6em .45em;
    border-radius: .25em;
    background: var(--bg-danger-icon);
    box-shadow: var(--icon-shadow);
}

span.icon svg {
    display: inline;
    transform: translate(0);
    vertical-align: middle;
    stroke: var(--clr-danger);
}

button:focus-within{
    border: 2px solid;
}

::backdrop {
    background: var(--backdrop);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.dialog {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.dialogs{
    display: flex;
    align-items: center;
}

.heading {
    margin-top: 20px;
}

.dismissBtn {
    background: none;
}

.confirmBtn {
    background: none;
    color: var(--clr-plain);
    background: var(--bg-danger);
}

.confirm .icon{
    background: var(--bg-confirm-icon);
}

.confirm .icon svg{
    stroke: var(--clr-confirm);
}

.confirm .confirmBtn{
    background: var(--bg-confirm);
}

.confirm .confirmBtn:hover{
    background: var(--confirm-btn-hover);
}

.update .icon{
    background: var(--bg-update-icon);
}

.update .icon svg{
    stroke: var(--clr-update);
}

.update .confirmBtn{
    background: var(--bg-update);
}

.update .confirmBtn:hover{
    background: var(--update-btn-hover);
}