<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Confirmation Modal Component">
    <meta name="description" content="A UI-blocking component built to confirm user decisions.">
    <title>Confirmation Dialog Component</title>
</head>

<body>
    <button id="danger">Delete account</button>
    <confirm-dialog variant="settings"></confirm-dialog>
</body>

<script src="./confirm-dialog.js" type="module" defer></script>

</html>