@import "@styles/base/base.css";
@import "@assets/designs/animations/animations.css";

/* Variables */

:root {
    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);

    --bg-tr-even: hsl(0, 0%, 99%);
    --bg-surface: hsl(210, 40%, 96%);
    --bg-edit-btn: hsl(204, 94%, 94%);
    /*--bg-btn-hover: hsl(0, 0%, 8%, .8);*/
    --bg-thead: hsl(from var(--bg-surface) h s calc(l + 2));
    --bg-tr-hover: hsl(from var(--bg-surface) h calc(s - 20) calc(l + 2));

    --accent: hsl(221, 96%, 52%);
    --dark-accent: hsla(0, 0%, 8%, .8);
    --muted-accent: hsl(220, 9%, 46%);

    --clr-id: var(--muted-accent);
    --clr-th: var(--muted-accent);
    --clr-anchor: hsl(220, 80%, 50%);
    --clr-edit-btn: hsl(201, 96%, 32%);
    --clr-placeholdeer-msg: hsl(204, 94%, 24%);

    --brdr-input: 1px solid hsl(0, 0%, 80%);
    --brdr-td-top: var(--brdr-width-thin) var(--brdr-style-1) hsl(220, 13%, 91%);

    --outline-input-hover: 2px solid hsl(0, 0%, 5%);
    --outline-input-error: 1px solid hsl(0, 80%, 50%);
}

/* Modal Styles */

:modal[open] {
    animation: slideIn var(--duration-fast) var(--ease-out) forwards;
}

::backdrop {
    backdrop-filter: blur(2px);
    background: var(--dark-accent);
    -webkit-backdrop-filter: blur(2px);
}

/* Defaults */

section {
    display: var(--flex-display);
    height: var(--viewport-height);
    align-items: var(--align-center);
    justify-content: var(--align-center);
}

h1 {
    font-size: 1.5rem;
    letter-spacing: .5px;
    font-weight: var(--weight-bold);
}

a {
    color: var(--clr-anchor);
    text-decoration: var(--none);
    font-weight: var(--weight-medium);
}

/* Table Default Styles */

thead {
    background: var(--bg-thead);
}

th {
    padding: .9em;
    font-size: .9em;
    color: var(--clr-th);
    text-transform: uppercase;
    text-align: var(--align-center);
    font-weight: var(--weight-medium);
}

td:not(.placeholder) {
    padding: .9em;
    font-size: .9em;
    border-top: var(--brdr-td-top);
}

tr:hover {
    background: var(--bg-tr-hover);
}

tr:nth-of-type(even) {
    background: var(--bg-tr-even);
}

menu {
    gap: var(--spacing-2);
    display: var(--flex-display);
    justify-content: var(--align-end);
}

form {
    width: 425px;
    gap: var(--spacing-4);
    display: var(--grid-display);
    max-width: var(--dimension-100);
    grid-template-columns: repeat(1, auto);
}

label {
    gap: var(--spacing-2);
    align-items: var(--start);
    display: var(--flex-display);
    flex-direction: var(--flex-column);
}

strong {
    font-size: 1.25rem;
}

/* Inputs */

input:not(input[type="checkbox"], input[type="radio"]) {
    height: 40px;
    outline: var(--none);
    border: var(--brdr-input);
    width: var(--dimension-100);
    border-radius: var(--radius-xsm);
    padding: var(--spacing-2) var(--spacing-4);
}

input:not(input[type="checkbox"], input[type="radio"]):focus,
input:not(input[type="checkbox"], input[type="radio"]):hover {
    scale: 1.02;
    outline-offset: 1px;
    outline: var(--outline-input-hover);
}

input[type="radio"] {
    accent-color: hsl(from var(--accent) calc(h - 1) calc(s - 16) calc(l - 2))
}

input:not(input[type="radio"]).error:focus,
input:not(input[type="radio"]).error:hover {
    outline: var(--outline-input-error);
}

input.error {
    outline: var(--outline-input-error);
}

.error-text {
    font-size: .85rem;
    font-weight: var(--weight-base);
    color: hsl(from var(--bg-danger) h calc(s - 20) l);
}

.action {
    border-radius: var(--radius-sm);
}

/* Table Styles */

.table-container {
    padding: var(--spacing-5);
    background: var(--bg-surface);
    border-radius: var(--radius-md);
}

.user-id {
    max-width: 120px;
    white-space: nowrap;
    color: var(--clr-id);
    text-overflow: ellipsis;
    overflow: var(--hidden-overflow);
}

/* Buttons */

.edit-btn {
    color: var(--clr-edit-btn);
    background: var(--bg-edit-btn);
}

.del-btn {
    color: var(--clr-danger);
    background: hsl(from var(--bg-danger) h calc(s - 7) calc(l + 44));
}

.confirm-operation-btn {
    border-radius: 1.25rem;
    transition: var(--duration-fast) var(--ease);
    color: hsl(from var(--bg-plain) s calc(l - 10));
    background: hsl(from var(--bg-surface) calc(s - 25) l);
}

.confirm-operation-btn:hover {
    outline-offset: 2px;
    outline: 2px solid hsl(from var(--bg-danger) calc(s - 25) l);
    background: hsl(from var(--bg-danger) calc(s - 25) calc(l - 5));
}

.cancel-operation-btn {
    border-radius: 1.25rem;
    transition: var(--duration-fast) var(--ease);
}

.cancel-operation-btn:hover {
    outline-offset: 2px;
    outline: 2px solid hsl(from var(--bg-plain) s calc(l - 10));
}

.cancelEditBtn {
    color: var(--clr-dark);
    background: var(--none);
}

.cancelEditBtn:hover {
    background: var(--dark-accent);
}

/* Dialog Styles */

.dialog {
    margin: var(--auto);
    gap: var(--spacing-2);
    border: var(--brdr-none);
    box-shadow: var(--shadow);
    align-items: var(--start);
    display: var(--flex-display);
    border-radius: var(--radius-sm);
    flex-direction: var(--flex-column);
    padding: var(--spacing-8) var(--spacing-8) var(--spacing-8);
}

.modal {
    gap: var(--spacing-2);
    border: var(--brdr-none);
    box-shadow: var(--shadow);
    border-radius: var(--radius-sm);
    padding: var(--spacing-8) var(--spacing-8) var(--spacing-8);
}

.edit-dialog {
    border: var(--none);
    margin: var(--auto);
    border-radius: var(--radius-sm);
    padding: var(--spacing-12) var(--spacing-12) var(--spacing-12);
}

/* Confirm Dialog Content */

.message {
    padding-bottom: var(--spacing-4);
}

.message-content {
    color: var(--muted);
}

/* Edit Dialog Content */

.edit-menu {
    justify-content: var(--align-start);
}

/* Toast Content */
/*.toast {
    display: flex;
    align-items: center;
    gap: .75rem;
    max-width: 100%;
    width: 400px;
    box-shadow: var(--shadow);
    padding: 1em 2em;
    border: none;
    outline: 2px solid hsl(100, 80%, 50%);
    outline-offset: 2px;
    color: hsl(100, 100%, 20%);
    background: hsl(100, 80%, 65%);
    margin: 0 auto;
    border-radius: .25rem;
    animation: popOver .3s linear forwards;
    transform: translateY(-100%) scale(0);
}

.toast.close {
    animation: popOut .3s ease forwards;
}

.toast-content {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}

.icon-check {
    color: hsl(100, 100%, 20%);
}*/

/* Empty State */

.placeholder {
    padding: var(--spacing-4);
    text-align: var(--align-center);
    background: hsl(from var(--bg-surface) h s calc(l + 2));
}

.placeholder-msg {
    font-size: 25px;
    color: var(--clr-placeholdeer-msg);
}