*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms all ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    background-image: url(../../../Assets/Images/abstract-waves.jpg);
}

svg {
    opacity: .65;
    width: 1.35em;
    height: 1.35em;
    margin-left: 5px;
    vertical-align: middle;
    transform: translate(0);
}

table {
    text-indent: 0;
    overflow: hidden;
    border-radius: .5em;
    border-collapse: collapse;
    background: hsl(0, 0%, 100%);
}

thead {
    top: 0;
    position: sticky;
    background: hsl(225, 100%, 95%, .5);
    border-top: 1px solid hsl(250, 100%, 50%, .5);
    border-bottom: 1px solid hsl(250, 100%, 50%, .5);
}

th {
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
    position: relative;
    padding-block: .75em;
    padding-inline: 1.5em;
}

th:not(:first-child):hover{
    background: hsl(225, 100%, 95%, .95);
}

tr:not(:last-child) {
    width: 100%;
    border-bottom: 1px solid hsl(0, 0%, 92%);
}

td {
    width: 100%;
    font-size: 1rem;
    text-align: left;
    text-wrap: nowrap;
    padding-block: 1.5em;
    padding-inline: 1.5em;
}

search-input{
    margin-bottom: 20px;
}

search-input::part(container) {
    width: 400px;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    border-radius: .5rem;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

search-input::part(shortcut) {
    display: none;
}

tool-tip::part(tooltip){background: red;}

.icon.search-icon svg{
    top: 12px;
    left: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
}

.table-container {
    padding-top: 1.25em;
    border-radius: .5em;
    background: hsl(0, 0%, 100%);
    border: 5px solid hsl(250, 100%, 50%, .15);
}

.table-head {
    width: 100%;
    display: flex;
    padding: .5em 1em;
    align-items: center;
    justify-content: space-between;
}

.table-header {
    font-size: 24px;
    padding-bottom: 20px;
}

.user-count {
    font-size: 10px;
    font-weight: 400;
    padding: .25em .75em;
    border-radius: 5rem;
    color: hsl(0, 0%, 40%);
    background: hsl(0, 0%, 90%);
}

.content {
    gap: .25em;
    display: flex;
    align-items: center;
}

.user-id {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: hsl(0, 0%, 40%);
}

.user-createdAt{
    color: hsl(0, 0%, 40%);
}

.user-email {
    width: 200px;
}

.mailto {
    font-weight: 600;
}

.mailto:hover {
    color: hsl(220, 100%, 50%);
}

.user-name,
.user-status {
    width: 150px;
}

.user-status {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.status {
    flex: 1;
    font-weight: 600;
    text-align: center;
    border-radius: 5em;
    padding: .35em 1.25em;
}

.indicator {
    top: 38px;
    left: 38px;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 5rem;
}

.user-status.active .indicator {
    background: hsl(230, 100%, 35%);
}

.user-status.not-active .indicator {
    background: hsl(0, 0%, 60%);
}

.active .status {
    color: hsl(230, 100%, 35%);
    background: hsl(250, 100%, 90%);
    border: 1px solid hsl(250, 100%, 50%);
}

.not-active .status {
    color: hsl(0, 0%, 50%);
    background: hsl(0, 0%, 90%);
    border: 2px solid hsl(0, 0%, 70%);
}

.icon svg {
    width: 16px;
    height: 16px;
    transform: translate(0);
    vertical-align: middle;
}

.sort-icon svg {
    stroke: hsl(250, 100%, 50%);
}