<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion FAQs Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="accordion.css">
</head>

<body>
    <h1>FAQs</h1>

    <div class="accordion">
        <div class="left-column"></div>
        <div class="right-column"></div>
        <template>
            <div class="accordion-item">
                <div class="accordion-header">
        
                </div>
                <div class="accordion-body">
                    <p class="accordion-content">
                        
                    </p>
                    <!--<div class="feedback">
                        <p class="feedback-text">Was this helpful?</p>
                        <menu>
                            <button class="helpfulBtn">
                                
                            </button>
                            &VerticalSeparator;
                            <button class="notHelpfulBtn">
                            
                            </button>
                        </menu>
                    </div>-->
                </div>
            </div>
        </template>
    </div>
</body>

<script src="accordion.js" defer></script>

</html>