<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="A reusable, configurable component that expands on click to reveal all sorts of info like 
        FAQs, courses, and so on.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion FAQs Component</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="accordion.css">
</head>

<body>
    <h1>FAQs</h1>

    <div class="accordion">
        <div class="left-column"></div>
        <div class="right-column"></div>
        <template>
            <div class="accordion-item">
                <div class="accordion-header">

                </div>
                <div class="accordion-body">
                    <p class="accordion-content">

                    </p>
                </div>
            </div>
        </template>
    </div>
</body>

<script src="accordion.js" defer></script>

</html>