@import "./resets.css";
@import "./variables.css";

:root{
    --code-bg: hsl(233, 13%, 14%);
}

svg {
    display: inline;
    vertical-align: middle;
    transform: translate(0);
}

button {
    gap: .75em;
    display: flex;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: .5em 1em;
    border-radius: .5em;
    position: relative;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
    border: 1px solid transparent;
}

input:not(input[type="checkbox"]) {
    height: 40px;
    outline: none;
    background: none;
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid transparent;
}

textarea {
    height: 100px;
    resize: none;
    outline: none;
    padding: .75em 1em;
    border-radius: 8px;
}

input:not(input[type="checkbox"]),
textarea {
    width: 100%;
    flex: 0 0 auto;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1.25em;
    flex-direction: column;
}

code {
    font-size: 15px;
    line-height: 135%;
    padding: 4px 8px;
    background: var(--code-bg); 
}