@import "./resets.css";
@import "@assets/designs/animations/animations.css";

html,
:host {
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    text-wrap: balance;
    line-height: 1.05em;
    letter-spacing: .05em;
    font-kerning: var(--normal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-optical-sizing: var(--auto);
}

img,
audio,
video{
    display: var(--block-display);
}

img{
    object-fit: cover;
    aspect-ratio: 16/9;
    height: var(--auto);
    width: var(--dimension-100);
}

nav {
    padding: var(--spacing-6) var(--spacing-8);

    & ul {
        gap: var(--spacing-3);
        display: var(--flex-display);
    }

    & menu {
        margin-left: var(--spacing-6);
    }
}

a {
    color: var(--inherit);
    text-decoration: var(--none);
}

li {
    list-style: var(--none);
}

menu {
    gap: var(--spacing-4);
    display: var(--flex-display);
}

svg {
    width: 22px;
    height: 22px;
    display: inline;
    vertical-align: middle;
    transform: translate(0);
}

button {
    gap: var(--spacing-2);
    position: var(--relative);
    font-family: var(--inherit);
    touch-action: manipulation;
    font-size: var(--font-size);
    display: var(--flex-display);
    border: var(--brdr-transparent);
    align-items: var(--align-center);
    overflow: var(--hidden-overflow);
    font-weight: var(--weight-thick);
    border-radius: var(--radius-xxsm);
    justify-content: var(--align-center);
    transform-origin: var(--origin-bottom);
    padding: var(--spacing-2) var(--spacing-4);
}

button:hover {
    filter: brightness(.75);
    transform: scale(1.15) translateY(-5px);
}

button,
select,
[role="button"] {cursor: pointer;}

input{-webkit-text-fill-color: transparent;}

input::placeholder,
textarea::placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: var(--opacity-base);
    color: hsl(218, 11%, 65%);
}

input:not(input[type="checkbox"]) {
    height: 40px;
    outline: var(--none);
    background: var(--none);
    border: var(--brdr-muted);
    border-radius: var(--radius-sm);
    padding: var(--spacing-2) var(--spacing-4);
}

input:not(input[type="checkbox"]),
textarea {
    flex: 0 0 var(--auto);
    width: var(--dimension-100);
}

textarea {
    height: 100px;
    resize: var(--none);
    outline: var(--none);
    border-radius: var(--radius-sm);
    padding: var(--spacing-3) var(--spacing-4);
}

button,
input,
optgroup,
select,
textarea {
    font: var(--inherit);
    color: var(--inherit);
    font-family: var(--inherit);
    line-height: var(--inherit);
    font-feature-settings: var(--inherit);
    font-variation-settings: var(--inherit);
}

form {
    gap: var(--spacing-5);
    width: var(--dimension-100);
    height: var(--dimension-100);
    display: var(--flex-display);
    flex-direction: var(--flex-column);
}

code,
kbd {
    font-size: 12px;
    line-height: 135%;
    background: var(--bg-code);
    text-transform: uppercase;
    font-weight: var(--weight-medium);
    padding: var(--spacing-1) var(--spacing-2);
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

table {
    text-indent: 0;
    border-collapse: collapse;
    border-color: var(--inherit);
}

::-webkit-search-cancel-button {
    appearance: var(--none);
}

:disabled {
    cursor: not-allowed;
}