@import "./tokens.css";

*::before,
*::after,
* {
    user-select: none;
    box-sizing: border-box;
    margin: var(--spacing-0);
    padding: var(--spacing-0);
    font-family: var(--default-font);
    -webkit-tap-highlight-color: transparent;
    transition: all var(--duration-fast) var(--ease) allow-discrete;
}

html{scroll-behavior: smooth;}

body{
    font: var(--font-base);
}

@media (prefers-reduced-motion: reduce) {
    *::before,
    *::after,
    * {
        animation-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}

@font-face {
    font-family: "Electrolize";
    src: url("@assets/fonts/Electrolize/Electrolize-Regular.ttf") format("truetype");
    font-display: swap;
    font-style: var(--font-style);
    font-weight: var(--weight-thin) var(--weight-xxlg);
}