:root {

    /* Backgrounds */

    --bg-code: hsl(233, 13%, 14%);
    --bg-plain: hsl(0, 0%, 100%);
    --bg-dark: hsl(0, 0%, 0%);

    /* Shadows */

    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    --shadow-layered:
        4px 0px 2px hsla(224, 71%, 4%, 0.06),
        -16px 2px 7px hsla(224, 71%, 4%, 0.05),
        -35px 4px 16px hsla(224, 71%, 4%, 0.04),
        -62px 7px 28px hsla(224, 71%, 4%, 0.02),
        -97px 11px 44px hsla(224, 71%, 4%, 0.01);

    /*
    ----------------- 
        Typography
    ------------------ 
    */

    /* Fonts */

    --font-style: normal;
    --font-variant: normal;
    --font-weight: var(--weight-base);
    --font-stretch: normal;
    --font-size: 1rem;
    --line-height: 1.5;
    --font-base: var(--font-style) var(--font-variant) var(--font-weight) 
    var(--font-stretch) var(--font-size) / var(--line-height) var(--default-font);
    --default-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Font Weights */

    --weight-base: 400;
    --weight-medium: 500;
    --weight-thick: 600;
    --weight-bold: 700; 

    /* 
    ----------------
        Colors 
    ----------------
    */

    --clr-dark: hsl(0, 0%, 0%);
    --clr-muted: hsl(0, 0%, 50%);
    --clr-plain: hsl(0, 0%, 100%);
    --clr-danger: hsl(0, 100%, 50%);
    --clr-success: hsl(100, 100%, 50%);

    /* Text Colors */

    --txt-dark: var(--clr-dark);
    --txt-muted: var(--clr-muted);
    --txt-plain: var(--clr-plain);

    /* Spacing */

    --spacing-0: 0px;
    --spacing-1: .25rem;
    --spacing-2: .5rem;
    --spacing-3: .75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-13: 3.25rem;
    --spacing-14: 3.55rem;
    --spacing-15: 3.75rem;
    --spacing-16: 4rem;
    
    /* Borders */

    --brdr-width-thin: 1px;
    --brdr-width-medium: 2px;
    --brdr-width-large: 4px;

    --brdr-style-1: solid;
    --brdr-style-2: dashed;
    --brdr-style-3: dotted;

    --brdr-sm: var(--brdr-width-thin) var(--brdr-style-1) var(--clr-primary);
    --brdr-md: var(--brdr-width-medium) var(--brdr-style-1) var(--clr-primary);
    --brdr-lg: var(--brdr-width-large) var(--brdr-style-1) var(--clr-primary);
    --brdr-muted: var(--brdr-width-thin) var(--brdr-style-1) var(--clr-muted);
    --brdr-solid: var(--brdr-width-thin) var(--brdr-style-1) var(--clr-primary);
    --brdr-transparent: var(--brdr-width-thin) var(--brdr-style-1) transparent;

    /* Border Radii  */

    --radius-xxsm: .25em;
    --radius-xsm: 5px;
    --radius-sm: .5em;
    --radius-md: .75em;
    --radius-lg: 1em;
    --radius-xlg: 5em;
    --radius-xxlg: 50%;

    /* Tranform Origins */

    --origin-top: top;
    --origin-top-right: top right;
    --origin-top-left: top left;
    --origin-bottom: bottom;
    --origin-bottom-right: bottom right;
    --origin-bottom-left: bottom left;
    --origin-left: left;
    --origin-right: right;
    --origin-center: center;

    /* Easings / Timings */

    --ease: ease;
    --ease-in: ease-in;
    --ease-out: ease-out;
    --ease-in-out: ease-in-out;

    /* Transition durations */

    --duration-fast: 300ms;
    --duration-normal: 500ms;
    --duration-slow: 1s;
    --duration-long: 3s;

    /* Transitions */

    --trans-1: all var(--duration-fast) var(--ease) allow-discrete;
    --trans-2: all var(--duration-normal) var(--ease-in) allow-discrete;
    --trans-3: all var(--duration-slow) var(--ease-out) allow-discrete;
    --trans-4: all var(--duration-long) var(--ease-in-out) allow-discrete;
}