/*@import "./fonts.css";*/

:root {

    /* Backgrounds */

    --bg-code: hsl(233, 13%, 14%);
    --bg-plain: hsl(0, 0%, 100%);
    --bg-dark: hsl(0, 0%, 0%);

    /* Shadows */

    --shadow:
        0 4px 6px hsla(0, 0%, 0%, 5%),
        0 10px 20px hsla(0, 0%, 0%, 1%),
        0 20px 40px hsla(0, 0%, 0%, 15%);
    --shadow-layered:
        4px 0px 2px hsla(224, 71%, 4%, 0.06),
        -16px 2px 7px hsla(224, 71%, 4%, 0.05),
        -35px 4px 16px hsla(224, 71%, 4%, 0.04),
        -62px 7px 28px hsla(224, 71%, 4%, 0.02),
        -97px 11px 44px hsla(224, 71%, 4%, 0.01);

    /*
    ----------------- 
        Typography
    ------------------ 
    */

    /* Fonts */

    --font-style: normal;
    --font-variant: normal;
    --font-weight: var(--weight-base);
    --font-stretch: normal;
    --font-size: 1rem;
    --line-height: 1.5;
    --font-base: var(--font-style) var(--font-variant) var(--font-weight) var(--font-stretch) var(--font-size) / var(--line-height) var(--default-font);
    --default-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Font Weights */

    --weight-base: 400;
    --weight-medium: 500;
    --weight-thick: 600;
    --weight-bold: 700;

    /* 
    ----------------
        Colors 
    ----------------
    */

    --clr-icon: currentColor;
    --clr-dark: hsl(0, 0%, 0%);
    --clr-muted: hsl(0, 0%, 50%);
    --clr-transparent: transparent;
    --clr-plain: hsl(0, 0%, 100%);
    --clr-danger: hsl(0, 100%, 50%);
    --clr-success: hsl(100, 100%, 50%);

    /* Text Colors */

    --txt-dark: var(--clr-dark);
    --txt-muted: var(--clr-muted);
    --txt-plain: var(--clr-plain);

    /* Spacing */

    --spacing-0: 0px;
    --spacing-1: .25em;
    --spacing-2: .5em;
    --spacing-3: .75em;
    --spacing-4: 1em;
    --spacing-5: 1.25em;
    --spacing-6: 1.5em;
    --spacing-7: 1.75em;
    --spacing-8: 2em;
    --spacing-9: 2.25em;
    --spacing-10: 2.5em;
    --spacing-11: 2.75em;
    --spacing-12: 3em;
    --spacing-13: 3.25em;
    --spacing-14: 3.55em;
    --spacing-15: 3.75em;
    --spacing-16: 4em;

    /* Borders */

    --brdr-width-thin: 1px;
    --brdr-width-medium: 2px;
    --brdr-width-large: 4px;

    --brdr-style-1: solid;
    --brdr-style-2: dashed;
    --brdr-style-3: dotted;

    --brdr-none: none;
    --brdr-sm: var(--brdr-width-thin) var(--brdr-style-1) var(--clr-dark);
    --brdr-md: var(--brdr-width-medium) var(--brdr-style-1) var(--clr-dark);
    --brdr-lg: var(--brdr-width-large) var(--brdr-style-1) var(--clr-dark);
    --brdr-muted: var(--brdr-width-thin) var(--brdr-style-1) var(--clr-muted);
    --brdr-solid: var(--brdr-width-thin) var(--brdr-style-1) var(--clr-dark);
    --brdr-transparent: var(--brdr-width-thin) var(--brdr-style-1) transparent;

    /* Border Radii  */

    --radius-none: 0;
    --radius-xxsm: .25em;
    --radius-xsm: 5px;
    --radius-sm: .5em;
    --radius-md: .75em;
    --radius-lg: 1em;
    --radius-xlg: 5em;
    --radius-xxlg: 50%;

    /* Tranform Origins */

    --origin-top: top;
    --origin-top-right: top right;
    --origin-top-left: top left;
    --origin-bottom: bottom;
    --origin-bottom-right: bottom right;
    --origin-bottom-left: bottom left;
    --origin-left: left;
    --origin-right: right;
    --origin-center: center;

    /* Easings / Timings */

    --ease: ease;
    --ease-in: ease-in;
    --ease-out: ease-out;
    --ease-in-out: ease-in-out;

    /* Transition durations */

    --duration-none: 0s;
    --duration-fast: 300ms;
    --duration-normal: 500ms;
    --duration-slow: 1s;
    --duration-long: 3s;

    /* Blur */

    --blur-xxsm: 2px;
    --blur-xsm: 5px;
    --blur-sm: 8px;
    --blur-md: 10px;
    --blur-lg: 15px;

    /* Transitions */

    --trans-1: all var(--duration-fast) var(--ease) allow-discrete;
    --trans-2: all var(--duration-normal) var(--ease-in) allow-discrete;
    --trans-3: all var(--duration-slow) var(--ease-out) allow-discrete;
    --trans-4: all var(--duration-long) var(--ease-in-out) allow-discrete;

    /* Keywords */

    --none: none;
    --auto: auto;

    /* Positions */

    --fixed: fixed;
    --sticky: sticky;
    --relative: relative;
    --absolute: absolute;
    --position-base: static;

    /* Flex Direction */

    --flex-row: row;
    --flex-column: column;
    --flex-row-reverse: row-reverse;
    --flex-colum-reverse: column-reverse;

    /* Displays */

    --block-display: block;
    --flex-display: flex;
    --grid-display: grid;
    --inline-display: inline;
    --inline-flex-display: inline-flex;
    --inline-block-display: inline-block;

    /* Opacity */

    --opacity-none: 0;
    --opacity-faint: .25;
    --opacity-grayed: .5;
    --opacity-reduced: .75;
    --opacity-base: 1;

    /* Scales */

    --scale-0: 0;
    --scale-down-3xsm: .9;
    --scale-down-2xsm: .95;
    --scale-down-xsm: .75;
    --scale-down-sm: .5;
    --scale-down-md: .25;
    --scale-down-lg: .15;
    --scale-down-xlg: .05;
    --scale-base: 1;
    --scale-up-xsm: 1.05;
    --scale-up-sm: 1.15;
    --scale-up-md: 1.25;
    --scale-up-lg: 1.5;
    --scale-up-xlg: 2;

    /* Dimensions */

    --base-dimension: 16px;

    --viewport-width: 100dvw;
    --viewport-height: 100dvh;

    --section-height: 60dvh;

    --dimension-100: 100%;
    --dimension-90: 90%;
    --dimension-80: 80%;
    --dimension-75: 75%;
    --dimension-50: 50%;
    --dimension-25: 25%;
    --dimension-15: 15%;
    --dimension-10: 10%;
    --dimension-5: 5%;

    --dimension-fit: fit-content;
    --dimension-min: min-content;
    --dimension-max: max-content;

    /* Overflows */

    --auto-overflow: var(--auto);
    --hidden-overflow: hidden;
    --scroll-overflow: scroll;
    --visible-overflow: visible;

    /* Axis */

    /* Degrees */

    /* Icon styles */

    /* Delays */

    /* Animations*/

    /* Text Aligns */

    /* Font Sizes */

    /* Flex Alignment */

    --end: end;
    --start: start;
    --flex-end: flex-end;
    --flex-center: center;
    --flex-start: flex-start;
    --flex-baseline: baseline;
    --flex-around: space-around;
    --flex-evenly: space-evenly;
    --flex-between: space-between;
}